@import "../../../scss/00_Abstracts/index";

.form-field {
    .spin-box {
        display: inline-flex;
        align-items: center;
        @include shadow(xs);
        @include border($size: xxxs);

        .button {
            @include px(xs);
        }
        .form-input {
            margin: 0;
            width: 4rem;
            text-align: center;
            border: none;
            -moz-appearance: textfield; /* Firefox */
            @include shadow(none);
            @include font-size(sm);
            @include p(sm);

            // Hide browser input spinners for numbers
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                margin: 0;
                -webkit-appearance: none;
            }
        }
    }
}
