@import "../../../scss/00_Abstracts/index";

$drawer-sizes: (sm: 16rem,
    md: 22.5rem,
    lg: 30rem,
    xl: 45rem);

.ks-side-drawer {
    height: 100%;
    max-width: 90%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    @include p(lg);
    @include transition($speed: med);

    @each $direction in (left, right) {
        &.#{$direction} {
            @include b-r($color: dark, $variant: lighter);

            @each $key,
            $value in $drawer-sizes {
                &.size-#{$key} {
                    width: $value;
                    #{$direction}: -$value;
                }
            }

            &.show {
                visibility: visible;
                #{$direction}: 0;
            }
        }
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        @include b-b();
        @include font-size(lg);
        @include color(dark);

        .drawer-title {
            line-height: 1;
        }

        .drawer-close {
            .ks-button {
                .button {
                    @include p(none);

                    .button-text {
                        display: inline-flex;
                    }

                    .icon {
                        @include font-size(md);
                    }
                }
            }
        }
    }

    .drawer-body {
        @include py(lg);
    }
}
