@import "../../../scss/00_Abstracts/index";

.ks-carousel {
    display: block;
    position: relative;

    .slides {
        position: relative;
        @include bg-color(light, darker);

        .slide {
            display: none;
            @include fade-out;

            &[aria-hidden="false"] {
                display: block;
                @include fade-in;
            }

            .slide-image {
                width: 100%;
            }

            &.pointer {
                &:focus-within {
                    outline: spacing(xxxs) dashed color(dark);
                    outline-offset: spacing(xxs);
                }
            }
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: white;
            padding-left: 3.75rem;
            padding-right: 3.75rem;
            text-shadow: 2px 2px 4px color(dark);
            @include my(xxl);

            >* {
                color: white;
            }
        }

        .control {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10%;
            color: color(white);
            background-color: transparent;
            border: none;
            display: flex;
            outline: 0;
            @include font-size(xl);

            &:focus,
            &:hover {
                outline: 0;
            }

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }

            .ks-button {
                outline: 0;
                width: 100%;
            }

            svg {
                filter: drop-shadow(0 0 0.25rem color(dark));
            }
        }
    }

    .controls {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .indicators {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include mx(auto);
        @include my(md);

        .indicator {
            height: spacing(lg);
            width: 1.25rem;
            background-color: transparent;
            filter: drop-shadow(0 0 0.25rem color(dark));
            @include border(none);
            @include border-b($size: xxs, $color: light, $opacity: 0.5);
            @include mx(sm);
            @include transition-ease-in-out(fast);

            @include hover-focus {
                outline: 0;
                @include border-b($size: xxs, $color: light, $opacity: 0.75);
            }

            &[aria-selected="true"] {
                @include border-b($size: xxs, $color: light);
                @include transition-ease-in-out(fast);
            }
        }
    }

    .thumbnails {
        display: flex;

        .indicator {
            flex-grow: 1;
            flex-basis: 0;
            opacity: 0.5;
            @include border(none);
            @include p(none);
            @include m(none);
            @include transition-ease-in-out(fast);

            &:hover {
                outline: 0;
                opacity: 0.80;
                @include shadow(xs);
                @include transition-ease-in-out(fast);
            }

            &:focus {
                @include shadow(outline);
            }

            &[aria-selected="true"] {
                opacity: 0.95;
                @include shadow(xs);
                @include transition-ease-in-out(fast);
            }
        }

        .indicator+.indicator {
            @include pl(xs);
        }
    }
}
