@import "../../../scss/00_Abstracts/index";

ks-modal {
    --border-radius: var(--ks-border-radius-sm);
    --shadow-size: var(--ks-shadow-xl);
    --background-color: white;
    --close-button-size: var(--ks-font-size-md);
    --content-padding: var(--ks-spacing-lg);

    ks-overlay {
        @include p(lg);

        .content {
            display: flex;
            justify-content: center;
            transform: scale(0.95);
            margin-top: -20vh;
            @include pt(xl);
            @include shadow(none);

            .modal-wrapper {
                width: 100%;
                max-height: 80vh;
                overflow-y: auto;
                background-color: var(--background-color);
                box-shadow: var(--shadow-size);
                padding: var(--content-padding);
                @include transition();
                @include r-var(--border-radius);
                @include m(none, $important: true);

                .modal-header {
                    display: flex;
                    justify-content: space-between;
                    align-content: flex-start;
                    @include bb();
                    @include mb(md);

                    .modal-title {
                        line-height: 1;
                        @include color(dark);
                    }

                    .modal-close {
                        border: 0;
                        background-color: var(--background-color);
                        line-height: 1;
                        font-size: var(--close-button-size);
                        @include p(xs);
                        @include mr(-xs);
                    }
                }

                &.size {
                    &-sm {
                        width: map-get($media-queries, xxs);

                        @include mq(xxs) {
                            width: 90vw;
                        }
                    }

                    &-md {
                        width: map-get($media-queries, xs);

                        @include mq(xs) {
                            width: 90vw;
                        }
                    }

                    &-lg {
                        width: map-get($media-queries, sm);

                        @include mq(sm) {
                            width: 90vw;
                        }
                    }
                }
            }
        }

        &.opened {
            .content {
                transform: scale(1);

                .modal-wrapper {
                    @include transition();
                }
            }
        }
    }
}

ks-modal-footer {
    display: flex;
    justify-content: flex-end;
    @include mt(md);
}
