@import "../../../scss/00_Abstracts/index";

.ks-modal {
    .ks-overlay {
        @include p(lg);

        .content {
            display: block;
            transform: scale(0.95);
            margin-top: -20vh;
            @include pt(xl);

            .modal-wrapper {
                width: 100%;
                max-height: 80vh;
                overflow-y: auto;
                background-color: white;
                @include p(lg);
                @include transition();
                @include br(sm);

                .modal-header {
                    display: flex;
                    justify-content: space-between;
                    align-content: flex-start;
                    @include b-b();
                    @include mb(md);

                    .modal-title {
                        line-height: 1;
                        @include color(dark);
                    }

                    .modal-close {
                        .ks-button {
                            .button {
                                @include p(none);

                                .button-text {
                                    display: inline-flex;
                                }

                                .icon {
                                    @include font-size(lg);
                                }
                            }
                        }
                    }
                }

                &.size {
                    &-sm {
                        max-width: 300px;
                    }

                    &-md {
                        max-width: 500px;
                    }

                    &-lg {
                        max-width: 800px;
                    }
                }

                .modal-content {
                    .modal-footer {
                        display: flex;
                        justify-content: flex-end;
                        @include mt(md);
                    }
                }
            }
        }

        &.opened {
            .content {
                transform: scale(1);

                .modal-wrapper {
                    @include transition();
                }
            }
        }
    }
}
