@import "../../../scss/00_Abstracts/index";

.ks-modal {
    .ks-overlay {
        .content {
            transform: scale(0.95);

            .modal-wrapper {
                max-width: 100%;
                max-height: 90vh;
                overflow-y: auto;
                background-color: white;
                @include p(lg);
                @include transition();
                @include radius(sm);

                .modal-header {
                    display: flex;
                    justify-content: space-between;
                    align-content: flex-start;
                    @include border-b();
                    @include mb(md);

                    .modal-title {
                        @include color(dark);
                    }

                    .modal-close {
                        @include mt(xxs);

                        .ks-button {
                            @include p(none);

                            .button-text {
                                display: inline-flex;
                            }

                            .icon {
                                @include font-size(lg);
                            }
                        }
                    }
                }

                &.size {
                    &-sm {
                        width: 300px;
                    }

                    &-md {
                        width: 500px;
                    }

                    &-lg {
                        width: 800px;
                    }
                }

                .modal-content {
                    .modal-footer {
                        display: flex;
                        justify-content: flex-end;
                        @include mt(md);
                    }
                }
            }
        }

        &.opened {
            .content {
                transform: scale(1);

                .modal-wrapper {
                    @include transition();
                }
            }
        }
    }
}
