@import "../../../scss/00_Abstracts/index";

$breakpoints: (xl, lg, md, sm, xs, xxs);

.ks-menu-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    @include font-size(sm);
    @include shadow(sm);

    &.fixed {
        &-top {
            position: fixed;
            top: 0;
            @include z-index(lg);
        }

        &-bottom {
            position: fixed;
            bottom: 0;
            @include z-index(lg);
        }
    }

    .menu-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        @include m(sm);

        .logo {
            max-width: 3rem;
            width: auto;
            @include mx(auto);

            img {
                width: 100%;
            }
        }

        .tagline {
            white-space: nowrap;
            text-decoration: none;
            @include font-size(md);
        }

        .logo~.tagline {
            @include ml(sm);
        }
    }

    .menu-toggler {
        line-height: 1;
        display: none;
        background-color: transparent;
        @include ml(auto);
        @include mr(sm);
        @include p(xs);
        @include shadow(none);
    }

    .menu-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-basis: auto;
        width: 100%;
        max-width: 100%;

        .menu-row {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            align-items: center;

            .menu-group {
                display: flex;
                align-items: center;

                &.align {
                    &-left {
                        @include mr(auto);
                    }

                    &-right {
                        @include ml(auto);
                    }
                }
            }

            .menu-item {
                font-weight: 600;
                @include px(sm);
                @include my(sm);

                &.active {
                    >* {
                        text-decoration: underline;
                        font-weight: 900;
                    }
                }

                >* {
                    font-weight: 600;
                    white-space: nowrap;
                    text-decoration: none;
                }

                &:last-child {
                    @include b(none);
                }

                @include hover-focus {
                    text-decoration: underline;
                }

                .ks-dropdown {
                    @include m(none);

                    .dropdown-button {
                        &.link {
                            cursor: pointer;
                            border: inherit;
                            line-height: inherit;
                            height: inherit;
                            padding: inherit;
                            font-weight: bold;
                            @include m(none);

                            @include hover-focus {
                                background-color: inherit;
                                text-decoration: underline;
                            }
                        }
                    }

                    .dropdown-contents {
                        .dropdown-item {
                            @include color(dark);
                        }
                    }
                }
            }
        }
    }

    @each $key,
    $value in get-colors() {
        &.#{$key} {
            @include bg-color($key);

            .menu-branding {
                color: text-color-value($key);

                &:focus {
                    @include default-outline();
                    outline-color: text-color-value($key);
                }
            }

            .menu-toggler {
                color: text-color($key);
                @include b($color: $key);

                &:focus {
                    @include default-outline();
                    outline-color: text-color-value($key);
                }
            }

            .menu-content {
                .menu-row {
                    .menu-item {
                        >* {
                            color: text-color-value($key);

                            &:focus {
                                @include default-outline();
                                outline-color: text-color-value($key);
                            }
                        }

                        .ks-dropdown {
                            .dropdown-button {
                                &.link {
                                    color: text-color-value($key);

                                    &:focus {
                                        @include default-outline();
                                        outline-color: text-color-value($key);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.inverted {
                background-color: white;
                @include b-b();

                .menu-branding {
                    color: color($key);

                    &:focus {
                        @include default-outline();
                        outline-color: text-color-value($key);
                    }
                }

                .menu-toggler {
                    border-color: color-value($key);
                    @include color($key);
                }

                .menu-content {
                    .menu-row {
                        .menu-item {
                            >* {
                                @include color($key);

                                &:focus {
                                    @include default-outline();
                                    outline-color: text-color-value($key);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.collapse {
        @each $key, $value in $breakpoints {
            &-#{$key} {
                @include mq($key) {
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    .menu-toggler {
                        display: inline-flex;
                    }

                    .menu-content {
                        display: block;
                        visibility: hidden;
                        max-height: 0;
                        flex-basis: 100%;
                        flex-grow: 1;
                        align-items: center;
                        flex-direction: column;
                        transform: translateY(-0.5rem);
                        overflow-y: hidden;
                        @include transition($speed: med);

                        .menu-row {
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            .menu-group {
                                flex-direction: column;
                                justify-content: start;
                                align-items: flex-start;
                                width: 100%;
                                @include mx(none);
                            }

                            .menu-item {
                                width: 100%;
                                text-align: left;
                                @include b(none);

                                >* {
                                    display: block;
                                    width: 100%;
                                }

                                .ks-dropdown {
                                    .dropdown-button {
                                        width: 100%;
                                        text-align: left;
                                    }

                                    .dropdown-contents {
                                        position: relative;
                                        display: none;
                                        width: 100vw;
                                        max-width: 100vw;
                                        @include mx(-sm);
                                    }

                                    &.show {
                                        .dropdown-contents {
                                            display: flex;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    [aria-expanded="true"]+.menu-content {
                        height: auto;
                        visibility: visible;
                        @include mt(sm);
                        @include b-t();
                        @include transition($speed: med);
                    }
                }
            }
        }
    }
}
