@import '../00_Abstracts/index';

figure {
    margin: 0 0 1rem;
}


// Images and content

img {
    width: 100%;
    vertical-align: middle;
}

ks-img {
    display: inline-block;
}

// 1. Workaround for the SVG overflow bug in IE 11 is still required.
//    See https://github.com/twbs/bootstrap/issues/26878

svg {
    overflow: hidden; // 1
    vertical-align: middle;
}

// Add aspect ratio based on height and width attributes

img,
input[type="image"],
video,
embed,
iframe,
marquee,
object,
table {
    aspect-ratio: attr(width) / attr(height);
}
