@import "../00_Abstracts/index";

// Prevent double borders
table {
    border-collapse: collapse;
}

caption {
    text-align: left;
    caption-side: bottom;
}

// Matches default `<td>` alignment by inheriting from the `<body>`, or the
// closest parent with a set `text-align`.
th {
    text-align: inherit;
}

.table {
    width: 100%;
    border-collapse: collapse;
    @include b();

    &.striped {
        tbody {
            tr:nth-child(odd) {
                @include bg-color(light, light);
            }
        }
    }

    &.hover {
        tbody {
            tr {
                &:hover {
                    @include bg-color(light);
                }
            }
        }
    }

    thead {
        font-weight: bold;
        @include b-b($size: xxs);
    }

    th,
    td {
        vertical-align: bottom;
        @include p(sm);
        @include b();
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
