@import "../../../../scss/00_Abstracts/index";

.ks-form-field {
    .ks-spin-box {
        display: inline-flex;
        align-items: center;
        @include shadow(xs);
        @include b();
        @include r();

        .ks-button {
            .button {
                @include px(sm);
            }
        }
        .form-input {
            text-align: center;
            border: none;
            -moz-appearance: textfield; // Firefox
            @include shadow(none);
            @include b-x();
            @include r(none);
            @include font-size(sm);
            @include p(sm);
            @include m(none);

            // Hide browser input spinners for numbers
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                margin: 0;
                -webkit-appearance: none;
            }

            &[aria-invalid="true"] {
                @include b($color: danger);
            }

            &.size {
                &-sm {
                    height: 2.5rem;
                    width: 3.5rem;
                    @include py(sm);
                    @include font-size(sm);
                }

                &-md {
                    height: 3rem;
                    width: 4rem;
                    @include py(md);
                    @include font-size(sm);
                }

                &-lg {
                    height: 3.75rem;
                    width: 5rem;
                    @include py(lg);
                    @include font-size(md);
                }
            }
        }
    }
}
