@use "sass:math";

@use "../../../scss/00_Abstracts/index"as *;

$columns: 12;
$breakpoints: (xl, lg, md, sm, xs, xxs);

ks-grid {
    --gutter-size: var(--ks-spacing-md);

    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    overflow-x: hidden;
    margin: 0 calc(var(--gutter-size) * -0.5);

    >ks-column {
        padding: 0 calc(var(--gutter-size) * 0.5);
    }

    &.align-content {
        &-start {
            ks-column {
                align-self: flex-start;
            }
        }

        &-center {
            ks-column {
                align-self: center;
            }
        }

        &-end {
            ks-column {
                align-self: flex-end;
            }
        }

        &-stretch {
            ks-column {
                align-self: stretch;
            }
        }
    }

    ks-column {
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        width: 100%;

        @for $i from 1 through $columns {
            &.col-#{$i} {
                max-width: math.div(100%, $columns) * $i;
                flex: 0 0 math.div(100%, $columns) * $i;
            }

            @each $bp in $breakpoints {
                @include mq($bp) {
                    &.#{$bp}\:col-#{$i} {
                        max-width: math.div(100%, $columns) * $i;
                        flex: 0 0 math.div(100%, $columns) * $i;
                    }
                }
            }
        }

        &.align-items {
            &-start {
                align-self: flex-start;
            }

            &-center {
                align-self: center;
            }

            &-end {
                align-self: flex-end;
            }

            &-stretch {
                align-self: stretch;
            }
        }
    }
}
