@import "../../../scss/00_Abstracts/index";

$columns: 12;
$gutter-size: sm;
$breakpoints: (xl, lg, md, sm, xs, xxs);

.ks-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    @include mx(-$gutter-size);

    &.no-gutter {
        @include mx(none);

        > .col {
            @include px(none);
        }
    }

    &.align-content {
        &-start {
            .col {
                align-items: flex-start;
            }
        }

        &-center {
            .col {
                align-items: center;
            }
        }

        &-end {
            .col {
                align-items: flex-end;
            }
        }

        &-stretch {
            .col {
                align-items: stretch;
            }
        }
    }

    .col {
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
        @include py(md);
        @include px($gutter-size);

        @for $i from 1 through $columns {
            &.col-#{$i} {
                max-width: (100% / $columns) * $i;
                flex: 0 0 (100% / $columns) * $i;
            }
        }

        @for $i from 1 through $columns {
            @each $key, $value in $breakpoints {
                @include mq($key) {
                    &.#{$key}\:col-#{$i} {
                        max-width: (100% / $columns) * $i;
                        flex: 0 0 (100% / $columns) * $i;
                    }
                }
            }
        }


        &.align-items {
            &-start {
                align-items: flex-start;
            }

            &-center {
                align-items: center;
            }

            &-end {
                align-items: flex-end;
            }

            &-stretch {
                align-items: stretch;
            }
        }
    }
}
