@import "../../../scss/00_Abstracts/index";

$columns: 12;
$breakpoints: (xl, lg, md, sm, xs, xxs);

.ks-row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;

    @each $key, $value in $spacing-sizes {
        $gutter-size: $value / 2;

        &.gutter-#{$key} {
            margin-left: -$gutter-size;
            margin-right: -$gutter-size;

            >.col {
                padding-left: $gutter-size;
                padding-right: $gutter-size;
            }
        }
    }

    &.align-content {
        &-start {
            .col {
                align-self: flex-start;
            }
        }

        &-center {
            .col {
                align-self: center;
            }
        }

        &-end {
            .col {
                align-self: flex-end;
            }
        }

        &-stretch {
            .col {
                align-self: stretch;
            }
        }
    }

    .col {
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        width: 100%;

        @for $i from 1 through $columns {
            &.col-#{$i} {
                max-width: (100% / $columns) * $i;
                flex: 0 0 (100% / $columns) * $i;
            }
        }

        @for $i from 1 through $columns {

            @each $key,
            $value in $breakpoints {
                @include mq($key) {
                    &.#{$key}\:col-#{$i} {
                        max-width: (100% / $columns) * $i;
                        flex: 0 0 (100% / $columns) * $i;
                    }
                }
            }
        }


        &.align-items {
            &-start {
                align-self: flex-start;
            }

            &-center {
                align-self: center;
            }

            &-end {
                align-self: flex-end;
            }

            &-stretch {
                align-self: stretch;
            }
        }
    }
}
