@import "../../../../scss/00_Abstracts/index";

.ks-autocomplete {
    .autocomplete {
        position: relative;

        .search-field {
            width: 100%;
            height: 3.25rem;
            @include br(sm);
            @include border($size: xxs);
            @include p(md);
            @include shadow(inner);

            &:disabled {
                cursor: not-allowed;
                @include bg-color(light);
                @include shadow(none);
            }

            &::placeholder {
                opacity: 0.7;
                font-style: italic;
                @include color(dark, lighter);
            }

            &[aria-invalid="true"] {
                @include border($size: xxs, $color: danger);
            }

        }

        .input-icons {
            position: absolute;
            right: 0;
            @include color(dark, lighter);
            @include font-size(md);
            @include mt(md);
            @include mr(lg);

            .ks-button {
                .icon {
                    @include color(dark, lighter);
                }
            }

            .search-icon {
                pointer-events: none;
            }
        }

        .dropdown-options {
            visibility: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            left: 0;
            right: 0;
            position: absolute;
            list-style: none;
            width: auto;
            white-space: nowrap;
            max-height: 0;
            overflow: hidden;
            background-color: white;
            @include br-b(sm);
            @include z-index(xs);
            @include shadow(sm);
            @include p(none);
            @include m(none);
            @include transition();

            .option {
                @include p(md);

                &:focus {
                    @include border();
                    @include bg-color(light, light);
                }

                &:hover {
                    @include bg-color(light, lighter);
                }
            }
        }

        [aria-expanded="true"] ~ .dropdown-options {
            visibility: visible;
            overflow-y: auto;
            @include transition();
        }
    }
}
