@import "../../../../scss/00_Abstracts/index";

.ks-autocomplete {
    .autocomplete {
        position: relative;

        .search-field {
            width: 100%;
            @include border($size: xxs);
            @include p(md);
            @include shadow(inner);

            &:not(textarea) {
                height: 3.25rem;
            }

            &:disabled {
                cursor: not-allowed;
                @include bg-color(light);
                @include shadow(none);
            }

            &::placeholder {
                opacity: 0.7;
                color: color(dark, lighter);
                font-style: italic;
            }

            &[aria-invalid="true"] {
                @include border($size: xxs, $color: danger);
            }

        }

        .search-icon {
            pointer-events: none;
            color: color(dark, lighter);
            position: absolute;
            right: 0;
            transform: translateX(-50%);
            @include font-size(lg);
            @include mt(sm);
        }

        .dropdown-options {
            visibility: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            left: 0;
            right: 0;
            position: absolute;
            list-style: none;
            width: auto;
            white-space: nowrap;
            max-height: 0;
            overflow: hidden;
            @include z-index(xs);
            @include shadow(sm);
            @include bg-color(white);
            @include p(none);
            @include m(none);
            @include transition-ease-in-out(fast);

            .option {
                @include p(md);

                &:focus {
                    @include border();
                    @include bg-color(light, light);
                }

                &:hover {
                    @include bg-color(light, lighter);
                }
            }
        }

        [aria-expanded="true"] ~ .dropdown-options {
            visibility: visible;
            overflow-y: auto;
            @include transition-ease-in-out(fast);
        }
    }
}
