@import "../../../../scss/00_Abstracts/index";

.ks-autocomplete {
    .autocomplete {
        position: relative;

        .search-field {
            width: 100%;
            height: 3.25rem;
            @include br(sm);
            @include b();
            @include p(md);
            @include shadow(inner);

            &:disabled {
                cursor: not-allowed;
                @include bg-color(light);
                @include shadow(none);
            }

            &::placeholder {
                opacity: 0.7;
                font-style: italic;
                @include color(dark, lighter);
            }

            &[aria-invalid="true"] {
                @include b($color: danger);
            }

            &.size {
                &-sm {
                    height: 2.5rem;
                    @include py(sm);
                    @include font-size(sm);
                }
    
                &-md {
                    height: 3rem;
                    @include py(md);
                    @include font-size(sm);
                }
    
                &-lg {
                    height: 3.75rem;
                    @include py(lg);
                    @include font-size(md);
                }
            }
        }

        .input-icons {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @include font-size(md);
            @include mr(sm);    
            @include p(xxs);
            @include color(light, darker);
    

            .ks-button {
                .icon {
                    @include font-size(sm);
                    @include color(dark, lighter);
                }
            }

            .search-icon {
                pointer-events: none;
            }
        }

        .dropdown-options {
            visibility: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            left: 0;
            right: 0;
            position: absolute;
            list-style: none;
            width: auto;
            white-space: nowrap;
            max-height: 0;
            overflow: hidden;
            background-color: white;
            @include b();
            @include b-t(none);
            @include br-b(sm);
            @include z-index(xs);
            @include shadow(sm);
            @include p(none);
            @include m(none);
            @include transition();

            .option {
                @include p(md);

                &:focus {
                    @include b-y();
                    @include bg-color(light, lighter);
                }

                &:first-child:focus {
                    @include b-t(none);
                }

                &:hover {
                    @include bg-color(light, lighter);
                }
            }
        }

        [aria-expanded="true"] {
            @include br-b(none);
        }

        [aria-expanded="true"] ~ .dropdown-options {
            visibility: visible;
            overflow-y: auto;
            @include transition();
        }
    }
}
