@import '../variables';

@include br($size, $important: false) {
    @include br-t($size, $important);
    @include br-b($size, $important);
}

@include br-t($size, $important: false) {
    @include br-tl($size, $important);
    @include br-tr($size, $important);
}

@include br-b($size, $important: false) {
    @include br-bl($size, $important);
    @include br-br($size, $important);
}

@include br-l($size, $important: false) {
    @include br-tl($size, $important);
    @include br-bl($size, $important);
}

@include br-r($size, $important: false) {
    @include br-tr($size, $important);
    @include br-br($size, $important);
}

@include br-tl($size, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-top-left-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-top-left-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@include br-tr($size, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-top-right-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-top-right-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@include br-bl($size, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-bottom-left-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-bottom-left-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@include br-br($size, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-bottom-right-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-bottom-right-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}
