@import '../variables';

@mixin r($size: sm, $important: false) {
    @include rt($size, $important);
    @include rb($size, $important);
}

@mixin rt($size: sm, $important: false) {
    @include rtl($size, $important);
    @include rtr($size, $important);
}

@mixin rb($size: sm, $important: false) {
    @include rbl($size, $important);
    @include rr($size, $important);
}

@mixin rl($size: sm, $important: false) {
    @include rtl($size, $important);
    @include rbl($size, $important);
}

@mixin rr($size: sm, $important: false) {
    @include rtr($size, $important);
    @include rr($size, $important);
}

@mixin rtl($size: sm, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-top-left-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-top-left-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin rtr($size: sm, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-top-right-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-top-right-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin rbl($size: sm, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-bottom-left-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-bottom-left-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}

@mixin rr($size: sm, $important: false) {
    @if map-has-key($border-radiuses, $size) {
        @if($important==true) {
            border-bottom-right-radius: var(--ks-border-radius-#{$size}) !important;
        }

        @else {
            border-bottom-right-radius: var(--ks-border-radius-#{$size});
        }
    }

    @else {
        @error "Invalid border-radius size: '#{$size}'.";
    }
}
