@import '../functions/colors';

@mixin bg-color($name: 'primary', $variant: 'base', $opacity: 1, $important: false) {
    @if($important) {
        color: text-color($name, $variant, $opacity) !important;
        background-color: color($name, $variant, $opacity) !important;
    }

    @else {
        color: text-color($name, $variant, $opacity);
        background-color: color($name, $variant, $opacity);
    }
}
