@import '../functions/colors';

@mixin color($name: 'primary', $variant: 'base', $opacity: 1, $important: false) {
    @if(type-of($variant)=='number') {
        $opacity: $variant;
        $variant: 'base';
    }

    @if($important) {
        color: rgba(var(--ks-color-#{$name}-#{$variant}), $opacity) !important;
    }

    @else {
        color: rgba(var(--ks-color-#{$name}-#{$variant}), $opacity);
    }
}

@mixin bg-color($name: 'primary', $variant: 'base', $opacity: 1, $important: false) {
    @if(type-of($variant)=='number') {
        $opacity: $variant;
        $variant: 'base';
    }

    @if($important) {
        color: rgba(var(--ks-color-#{$name}-#{$variant}-text), $opacity) !important;
        background-color: rgba(var(--ks-color-#{$name}-#{$variant}), $opacity) !important;
    }

    @else {
        color: #{rgba(var(--ks-color-#{$name}-#{$variant}-text), $opacity)};
        background-color: #{rgba(var(--ks-color-#{$name}-#{$variant}), $opacity)};
    }
}
