@mixin full-width($important: false) {
    @if ($important == true) {
        position: relative !important;
        left: 50% !important;
        right: 50% !important;
        width: 100vw !important;
        margin-left: -50vw !important;
        margin-right: -50vw !important;
        max-width: 100vw !important;
    } @else {
        position: relative;
        left: 50%;
        right: 50%;
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
    }
}

@mixin full-height($important: false) {
    @if ($important == true) {
        position: fixed !important;
        top: 50% !important;
        bottom: 50% !important;
        height: 100vh !important;
        margin-top: -50vh !important;
        margin-bottom: -50vh !important;
        max-height: 100vh !important;
    } @else {
        position: fixed;
        top: 50%;
        bottom: 50%;
        height: 100vh;
        margin-top: -50vh;
        margin-bottom: -50vh;
        max-height: 100vh;
    }
}

@mixin full-screen($important: false) {
    @if ($important == true) {
        @include full-width(true);
        @include full-height(true);
    } @else {
        @include full-width;
        @include full-height;
    }
}

@mixin screen-reader-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}  
