@import '../variables';

@mixin shadow($size: sm, $important: false) {
    @if($important==true) {
        box-shadow: var(--ks-shadow-#{$size}) !important;
    }

    @else {
        box-shadow: var(--ks-shadow-#{$size});
    }
}

@mixin shadow-var($size: sm, $important: false) {
    @if($important==true) {
        box-shadow: var($size) !important;
    }

    @else {
        box-shadow: var($size);
    }
}
