@import '../variables';
    
    @mixin shadow($size: sm, $important: false) {
        @if map-has-key($shadows, $size) {
            @if($important == true) {
                box-shadow: unquote(map-get($shadows, $size)) !important;
            } @else {
                box-shadow: unquote(map-get($shadows, $size));
            }
        } 
        @else {
            @error "Invalid shadow size: '#{$size}'.";
        }
    }    
    