@import '../variables';
@import '../functions/spacing';

@mixin m($top, $right: $top, $bottom: $top, $left: $top, $important: false) {
    @include mt($top, $important);
    @include mb($bottom, $important);
    @include ml($left, $important);
    @include mr($right, $important);
}

@mixin mx($left, $right: $left, $important: false) {
    @include ml($left, $important);
    @include mr($right, $important);
}

@mixin my($top, $bottom: $top, $important: false) {
    @include mt($top, $important);
    @include mb($bottom, $important);
}

@mixin ml($size, $important: false) {
    margin-left: spacing($size);
}

@mixin mt($size, $important: false) {
    margin-top: spacing($size);
}

@mixin mr($size, $important: false) {
    margin-right: spacing($size);
}

@mixin mb($size, $important: false) {
    margin-bottom: spacing($size);
}

@mixin p($top, $right: $top, $bottom: $top, $left: $top, $important: false) {
    @include pt($top, $important);
    @include pb($bottom, $important);
    @include pl($left, $important);
    @include pr($right, $important);
}

@mixin px($left, $right: $left, $important: false) {
    @include pl($left, $important);
    @include pr($right, $important);
}

@mixin py($top, $bottom: $top, $important: false) {
    @include pt($top, $important);
    @include pb($bottom, $important);
}

@mixin pl($size, $important: false) {
    padding-left: spacing($size, $important);
}

@mixin pt($size, $important: false) {
    padding-top: spacing($size, $important);
}

@mixin pr($size, $important: false) {
    padding-right: spacing($size, $important);
}

@mixin pb($size, $important: false) {
    padding-bottom: spacing($size, $important);
}
