@import "../../../../scss/00_Abstracts/index";

ks-checkbox {
    user-select: none;
    cursor: pointer;
    height: 2rem;

    &:focus-within {
        .checkbox-label {
            @include default-outline();
        }
    }

    .checkbox-label {
        &:hover {
            border-color: color-value(primary);
            cursor: pointer;
        }

        .checkbox-icon {
            display: inline-block;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);
            position: relative;
            width: 1.125em;
            height: 1.125em;
            transform: scale(1);
            vertical-align: middle;
            background-color: rgb(var(--input-background-color));
            font-size: var(--checkbox-size);
            @include b($color: light, $variant: darker);
            @include transition();
            @include r-var(--border-radius);
            @include shadow(inner);

            svg {
                position: absolute;
                top: 0.175em;
                left: 0.125em;
                fill: none;
                stroke: white;
                stroke-width: 2;
                stroke-dasharray: 1em;
                stroke-dashoffset: 1em;
                transition-delay: .1s;
                transform: translate3d(0, 0, 0);
                @include transition();
            }

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                transform: scale(0);
                opacity: 1;
                border-radius: 50%;
                @include bg-color(primary);
            }
        }

        .checkbox-description {
            display: inline-block;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);
            @include pl(sm);
        }
    }

    .checkbox-input {
        @include screen-reader-only();

        &:checked+.checkbox-label {
            .checkbox-icon {
                background: color-value(primary);
                border-color: color-value(primary);

                svg {
                    stroke-dashoffset: 0;
                }

                &:before {
                    opacity: 0;
                    @include transition();
                }
            }
        }

        &:disabled+.checkbox-label {
            cursor: not-allowed;
            opacity: 0.7;

            .checkbox-icon {
                @include shadow(none);
            }
        }

        &:indeterminate {
            &+.checkbox-label {
                svg {
                    position: absolute;
                    top: 0.43em;
                    left: 0.155em;
                    fill: color-value(primary);
                    stroke: color-value(primary);
                    stroke-width: 2;
                    stroke-dasharray: 4em;
                    stroke-dashoffset: 1em;
                    transition-delay: .1s;
                    transform: translate3d(0, 0, 0);
                    @include transition();
                }
            }
        }
    }
}
