@import "../00_Abstracts/index";

*, *:before, *:after {
    box-sizing: border-box;

    &:focus {
        outline: spacing(xxxs) dashed color(dark);
        outline-offset: spacing(xxs);
    }
}

html,
body {
    font-size: $font-size-base;
    line-height: $line-height-base;
    @include font(base);

    code,
    pre {
        @include font(monospace);
    }
}
