@import "../00_Abstracts/index";

* {
    box-sizing: border-box;

    &:focus {
        @include outline();
    }
}

html,
body {
    scroll-behavior: smooth;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: color(dark);
    @include font(base);

    code,
    pre {
        @include font(monospace);
    }
}
