@import "../../../scss/00_Abstracts/index";

ks-alert {
    --border-radius: var(--ks-border-radius-sm);
    --icon-size: var(--ks-font-size-xl);
    --note-border-size: #{spacing(md)};

    display: block;

    .alert-content {
        display: flex;
        align-items: center;
        width: 100%;
        @include r-var(--border-radius);
        @include p(lg);
        @include shadow(sm);

        @each $color,
        $value in get-colors() {
            &.#{$color} {
                @include b($color: $color);
                @include shadow(sm);
                @include bg-color($color, 0.05);
                @include color(dark);

                .alert-icon {
                    @include color($color, dark);
                }

                .alert-header {

                    .alert-heading,
                    .alert-close .icon {
                        @if(text-color($color, dark)==black) {
                            @include color(dark);
                        }

                        @else {
                            @include color($color, dark);
                        }
                    }
                }
            }

            &.note.#{$color} {
                @include r(none);
                @include b();
                @include bl(solid, md, $color);
                @include bg-color(light, lighter);
                border-left-width: var(--note-border-size);

                .alert-header {
                    @if(text-color($color, dark)==black) {
                        @include color(dark);
                    }

                    @else {
                        @include color($color, dark);
                    }
                }
            }
        }

        .alert-icon {
            font-size: var(--icon-size);
            @include mr(lg);
        }

        .content {
            width: 100%;
        }

        .alert-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include color(dark);

            .alert-heading {
                font-weight: bold;
                @include my(none);
            }

            .alert-close {
                .ks-icon {
                    height: 1.5em;
                    width: 1.5em;

                    .icon {
                        @include font-size(md);
                    }
                }
            }
        }

        .alert-body {
            @include m(none);
        }
    }
}
