@import "../../../scss/00_Abstracts/index";

.ks-alert {
    display: block;
    
    .alert-content {
        @include br(sm);
        @include p(lg);
        @include shadow(sm);

        @each $color,
        $value in get-colors() {
            &.#{$color} {
                @include border(solid, xxs, $color);
                @include shadow(sm);
                @include bg-color($color, 0.05);
                @include color(dark);
            }

            &.note.#{$color} {
                background-color: white;
                @include br(none);
                @include border();
                @include border-l(solid, md, $color);
            }
        }

        .alert-header {
            display: flex;
            justify-content: space-between;
            @include mb(lg);
            @include color(dark);

            .alert-heading {
                font-weight: bold;
                @include mt(none);
                @include mb(none);
            }

            .alert-close {
                .icon {
                    @include font-size(md);
                }
            }
        }

        .alert-body {
            @include m(none);
        }
    }
}
