@import "../../../scss/00_Abstracts/index";

.alert {
    display: block;
    @include p(lg);
    @include shadow(sm);

    @each $color, $value in $theme-colors {
        &.#{$color} {
            @include border(solid, xxs, $color);
            @include shadow(sm);
        }

        &.note.#{$color} {
            @include bg-color(white);
            @include border();
            @include border-l(solid, md, $color);
        }
    }

    .alert-header {
        display: flex;
        justify-content: space-between;
        @include mb(lg);

        .alert-heading {
            font-weight: bold;
            @include mt(none);
            @include mb(none);
        }
    }

    .alert-body {
        @include m(none);
    }
}
