@import "../../../scss/00_Abstracts/index";

$breakpoints: (xl, lg, md, sm, xs, xxs);

.ks-dropdown {
    position: relative;
    display: inline-block;

    &.mega-menu {
        display: block;
        position: static;
        width: 100%;
    }

    .ks-button {
        white-space: nowrap;
        display: flex;
        align-items: center;

        .button-text {
            display: flex;
            align-items: center;

            .dropdown-icon {
                @include transition-ease-in-out(med);
            }    
        }
        
        &[aria-expanded="true"] .dropdown-icon {
            transform: rotate(-180deg);
            @include transition-ease-in-out(med);
        }
    }

    .dropdown-contents {
        display: none;
        left: 0;
        position: absolute;
        list-style: none;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        max-width: 90vw;
        overflow-x: scroll;
        @include z-index(xs);
        @include shadow(sm);
        @include bg-color(white);
        @include px(sm);
        @include py(none);
        @include m(none);
        @include transition-ease-in-out(fast);

        &.collapse {
            @each $key, $value in $breakpoints {
                &-#{$key} {
                    @include mq($key) {
                        position: fixed;
                        left: 0;
                        right: 0;
                        @include mx(lg);
                    }
                }
            }
        }

        .dropdown-item {
            > * {
                text-align: left;
                text-decoration: none;
                display: block;
                color: color(primary);
                width: 100%;
                font-weight: normal;
                @include font-size(sm);
                @include px(lg);
                @include py(md);
            }

            a,
            button {
                @include hover-focus {
                    background-color: color(light, lighter);
                }
            }
        }

        &.align-left {
            left: 0;
            right: auto;
        }

        &.align-right {
            right: 0;
            left: auto;
        }
    }

    .mega-menu-contents {
        display: none;
        position: absolute;
        float: none;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: 200px;
        overflow-y: auto;
        @include z-index(xs);
        @include shadow(xs);
        @include bg-color(white);
        @include px(sm);
        @include py(none);
        @include m(none);
        @include transition-ease-in-out(fast);
    }

    &.show {
        .contents {
            display: block;
            width: auto;
            @include border();
            @include py(sm);
            @include transition-ease-in-out(fast);
        }

        .dropdown-contents {
            display: flex;
            flex-direction: column;
        }
    }
}