@import "../../../scss/00_Abstracts/index";

$breakpoints: (xl, lg, md, sm, xs, xxs);

ks-dropdown {
    --button-text-size: var(--ks-font-size-sm);
    --button-text-margin-right: var(--ks-spacing-sm);
    --indicator-size: var(--ks-font-size-sm);
    --contents-border-radius: var(--ks-border-radius-sm);
    --contents-padding: var(--ks-spacing-sm);

    position: relative;
    display: inline-block;
    line-height: 1;

    &.mega-menu {
        display: inline-block;
        position: static;
    }

    .dropdown-button {
        white-space: nowrap;
        display: flex;
        align-items: center;

        .icon {
            @include mr(xxs);
        }

        .dropdown-text {
            font-size: var(--button-text-size);
            margin-right: var(--button-text-margin-right);
        }

        .dropdown-icon {
            line-height: 1;
            @include transition();

            .icon {
                font-size: var(--indicator-size);
                @include mx(-xs);
            }
        }

        &[aria-expanded="true"] .dropdown-icon {
            transform: rotate(-180deg);
            @include transition();
        }
    }

    .dropdown-contents {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        left: 0;
        position: absolute;
        list-style: none;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
        overflow-x: auto;
        transform: translateY(-0.25rem);
        background-color: white;
        border-radius: var(--contents-border-radius);
        padding: var(--contents-padding);
        @include b();
        @include z-index(xs);
        @include transition();
        @include bg-color(white);

        &.align-left {
            left: 0;
            right: auto;
            @include rtl(none);
        }

        &.align-right {
            right: 0;
            left: auto;
            @include rtr(none);
        }
    }

    .mega-menu-contents {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        float: none;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: 200px;
        overflow-y: auto;
        transform: translateY(-0.25rem);
        background-color: white;
        @include r(sm);
        @include b();
        @include z-index(xs);
        @include px(sm);
        @include py(none);
        @include m(none);
        @include transition();
    }

    &.show-contents {
        .dropdown-button {
            @include rb(none);
        }

        .contents {
            visibility: visible;
            opacity: 1;
            transform: translateY(0rem);
            @include shadow(sm);
            @include transition();
        }

        .dropdown-contents {
            display: flex;
            flex-direction: column;
        }

        &[display="link"] {
            .dropdown-contents {
                @include mt(xs);
            }
        }
    }
}

ks-dropdown-item {
    --padding-x: var(--ks-spacing-xs);
    --padding-y: var(--ks-spacing-md);
    --font-size: var(--ks-font-size-sm);
    --item-color: var(--ks-color-primary-base);
    --margin-bottom: var(--ks-spacing-sm);

    &:not(:last-child) {
        margin-bottom: var(--margin-bottom);
    }

    >* {
        display: inline-block;
        padding: var(--padding-y) var(--padding-y);
    }

    a {
        text-align: left;
        text-decoration: none;
        width: 100%;
        font-weight: normal;
        font-size: var(--font-size);
        color: rgb(var(--item-color));
    }

    a,
    button {
        padding: var(--padding-y) var(--padding-y);

        @include hover {
            background-color: color-value(light, lighter);
        }
    }

    ks-button {
        width: 100%;
        @include p(none);

        .button.link:not(:disabled) {
            text-align: left;
            text-decoration: none;
            width: 100%;
            font-weight: normal;
            font-size: var(--font-size);
            padding: var(--padding-y) var(--padding-y);
            color: rgb(var(--item-color));

            @include hover {
                text-decoration: none;
                background-color: color-value(light, lighter);
            }
        }
    }
}
