@import "../../../scss/00_Abstracts/index";

$breakpoints: (xl, lg, md, sm, xs, xxs);

.ks-dropdown {
    position: relative;
    display: inline-block;

    &.mega-menu {
        display: inline-block;
        position: static;
    }

    .dropdown-button {
        white-space: nowrap;
        display: flex;
        align-items: center;

        .icon {
            @include mr(xxs);
        }

        .dropdown-text {
            @include mr(xs);
        }

        .dropdown-icon {
            line-height: 1;
            @include transition();

            .icon {
                @include mx(-xs);
            }
        }

        &[aria-expanded="true"] .dropdown-icon {
            transform: rotate(-180deg);
            @include transition();
        }
    }

    .dropdown-contents {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        left: 0;
        position: absolute;
        list-style: none;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
        overflow-x: scroll;
        transform: translateY(-0.25rem);
        background-color: white;
        @include br(sm);
        @include b();
        @include z-index(xs);
        @include p(sm);
        @include transition();

        // &.collapse {
        //     @each $key,
        //     $value in $breakpoints {
        //         &-#{$key} {
        //             @include mq($key) {
        //                 position: fixed;
        //                 left: 0;
        //                 right: 0;
        //                 @include mx(lg);
        //             }
        //         }
        //     }
        // }

        .dropdown-item {
            >* {
                display: inline-block;
                @include px(xs);
                @include py(md);
            }

            a {
                text-align: left;
                text-decoration: none;
                display: block;
                width: 100%;
                font-weight: normal;
                @include color(primary);
                @include font-size(sm);
            }

            a,
            button {
                @include hover-focus {
                    background-color: color-value(light, lighter);
                }
            }
        }

        &.align-left {
            left: 0;
            right: auto;
            @include br-tl(none);
        }

        &.align-right {
            right: 0;
            left: auto;
            @include br-tr(none);
        }
    }

    .mega-menu-contents {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        float: none;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: 200px;
        overflow-y: auto;
        transform: translateY(-0.25rem);
        background-color: white;
        @include br(sm);
        @include b();
        @include z-index(xs);
        @include px(sm);
        @include py(none);
        @include m(none);
        @include transition();
    }

    &.show-contents {
        .dropdown-button {
            @include br-b(none);
        }

        .contents {
            visibility: visible;
            opacity: 1;
            transform: translateY(0rem);
            @include shadow(sm);
            @include transition();
        }

        .dropdown-contents {
            display: flex;
            flex-direction: column;
        }
    }
}
