.theme-container {
    .navbar {
        .home-link {
            img {
                width: auto;
            }
        }
    }
}

.sidebar {
    background-color: #2c5374 
    color: white   

    .sidebar-heading {
        color: white
        opacity: 1 
    }

    .sidebar-link {
        color: white

        &:hover {
            color: white
            text-decoration: underline    
        }

        &.active {
            color: white 
            font-weight: bolder !important
        }    
    }
}

h1,h2,h3,h4,h5,h6 {
    color: #2c5374 
    border: 0
}

.custom-block.tip {
    border-color: #2c5374;
}