$accentColor = #ac3f00
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc


.theme-container {
    .navbar {
        .home-link {
            img {
                width: auto;
            }
        }
    }
}

.sidebar {
    background-color: #2c5374 !important 
    color: white !important   

    .sidebar-heading {
        color: white !important
        opacity: 1 !important 
    }

    .sidebar-link {
        color: white !important

        &:hover {
            color: white !important
            text-decoration: underline    
        }

        &.active {
            color: white !important 
            font-weight: bold
        }    
    }
}

h1,h2,h3,h4,h5,h6 {
    color: #2c5374 !important 
}