@import "../../../../scss/00_Abstracts/index";

.ks-radio {
    display: block;

    &.inline {
        display: inline-block;
    }

    .input-wrapper {
        display: inline-block;

        &:focus-within {
            @include default-outline();
        }

        .radio-button {
            @include screen-reader-only();

            &:checked {
                &+.radio-label {
                    &:before {
                        border-color: color-value(primary);
                    }

                    &:after {
                        transform: scale(1);
                    }
                }
            }
        }

        .radio-label {
            display: inline-block;
            min-height: 1.25em;
            position: relative;
            padding-left: 1.75em;
            margin-bottom: 0;
            cursor: pointer;
            vertical-align: bottom;

            &:before,
            &:after {
                position: absolute;
                content: '';
                border-radius: 50%;
                transition-property: transform, border-color;
                @include transition();
            }

            &:before {
                left: 0;
                top: 0.1em;
                width: 1em;
                height: 1em;
                @include border($size: xxs, $color: dark);
            }

            &:after {
                top: (1.25em / 2) - (0.625em / 2) + 0.125em;
                left: (1.25em / 2) - (0.625em / 2);
                width: 0.625em;
                height: 0.625em;
                transform: scale(0);
                background: color-value(primary);
            }
        }
    }
}
