@import "../../../scss/00_Abstracts/index";

$sizes: (xs, sm, md, lg);

.ks-progress {
    display: block;

    .labels {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .description {
            @include font-size(md);
        }

        .progress-label {
            @include font-size(sm);
        }
    }

    .progress-bar {
        display: block;
        width: 100%;
        max-width: 100%;
        border: 0;
        position: relative;
        @include bg-color(light, light);

        .value {
            display: block;
            height: 100%;
            @include transition-ease-in-out();

            @each $key, $value in get-colors() {
                &.#{$key} {
                    @include bg-color($key);
                }
            }
        }

        @each $size in $sizes {
            &.#{$size} {
                height: spacing($size);
            }
        }
    }
}
