@import "../../../scss/00_Abstracts/index";

$sizes: (xs, sm, md, lg);

ks-progress-bar {
    --border-radius: var(--ks-border-radius-sm);
    --description-size: var(--ks-font-size-md);
    --progress-label-size: var(--ks-font-size-sm);
    --track-color: var(--ks-color-light-light);
    --track-size: var(--ks-spacing-md);
    --progress-color: var(--ks-color-primary-base);

    display: block;

    .labels {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .description {
            font-size: var(--description-size);
        }

        .progress-label {
            font-size: var(--progress-label-size);
        }
    }

    .progress-bar {
        display: block;
        width: 100%;
        max-width: 100%;
        border: 0;
        position: relative;
        height: var(--track-size);
        background-color: rgb(var(--track-color));
        border-radius: var(--border-radius);

        .value {
            display: block;
            height: 100%;
            background-color: rgb(var(--progress-color));
            @include transition(width);
            @include rl-var(--border-radius);
        }
    }
}
