@import "../../../scss/00_Abstracts/index";

.ks-tabs {
    display: flex;
    @include shadow(sm);
    @include br(sm);
    
    .tab-list {
        display: flex;
        @include bg-color(light, lighter);
        @include p(none);
        @include m(none);

        &.justify-justified {
            .tab-item {
                width: 100%;
                text-align: center;
            }
        }
        .tab-item {
            text-decoration: none;
            white-space: nowrap;
            background-color: transparent;
            vertical-align: inherit;
            border: 0;
            @include color(primary);
            @include px(lg);
            @include py(md);

            :hover {
                text-decoration: none;
            }

            :focus {
                @include default-outline();
            }

            &[aria-selected="true"] {
                background-color: white;
                @include b();
                @include color(primary);
                @include shadow(sm);
                @include m(-xxxs);
            }
        }
    }

    .tab-panel {
        width: 100%;
        white-space: normal;
        background-color: white;
        @include b();
        @include p(lg);
    }

    &.align {
        &-top {
            flex-direction: column;

            .tab-list {
                flex-wrap: wrap;
                @include b();
                @include br-t(sm);

                &.justify-justified {
                    flex-wrap: nowrap;
                }

                .tab-item {
                    &[aria-selected="true"] {
                        @include b-b(none);
                        @include br-t(sm);
                    }
                }
            }

            .tab-panel {
                flex-shrink: 0;
                @include b-t(none);
                @include br-b(sm);
            }
        }

        &-bottom {
            flex-direction: column-reverse;

            .tab-list {
                flex-wrap: wrap;
                @include b();
                @include br-b(sm);

                &.justify-justified {
                    flex-wrap: nowrap;
                }
                
                .tab-item {
                    &[aria-selected="true"] {
                        position: relative;
                        @include b-t(none);
                        @include br-b(sm);
                    }
                }
            }

            .tab-panel {
                flex-shrink: 0;
                @include b-b(none);
                @include br-t(sm);
            }
        }

        &-left {
            flex-direction: row;

            .tab-list {
                flex-direction: column;
                @include b();
                @include br-l(sm);

                &.justify-justified {
                    .tab-item {
                        height: 100%;
                    }
                }

                .tab-item {
                    align-self: flex-end;
                    width: 100%;
                    @include mr(-xxs);

                    width: 101%;

                    &[aria-selected="true"] {
                        @include shadow();
                        @include b-r(none);
                        @include br-l(sm);
                    }
                }
            }

            .tab-panel {
                @include b-l(none);
                @include br-r(sm);
            }
        }

        &-right {
            flex-direction: row-reverse;

            .tab-list {
                flex-direction: column;
                @include b();
                @include br-r(sm);

                &.justify-justified {
                    .tab-item {
                        height: 100%;
                    }
                }

                .tab-item {
                    align-self: flex-start;
                    width: 100%;

                    width: 101%;

                    &[aria-selected="true"] {
                        @include shadow();
                        @include b-l(none);
                        @include br-r(sm);
                    }
                }
            }

            .tab-panel {
                @include b-r(none);
                @include br-l(sm);
            }
        }
    }
}
