@import "../../../scss/00_Abstracts/index";

.ks-tabs {
    display: flex;
    @include shadow(sm);

    .tab-list {
        display: flex;
        @include bg-color(light, lighter);
        @include p(none);
        @include m(none);

        &.justify-justified {
            .tab-item {
                width: 100%;
                text-align: center;
            }
        }
        .tab-item {
            text-decoration: none;
            white-space: nowrap;
            color: color(primary);
            background-color: transparent;
            vertical-align: inherit;
            border: 0;
            @include px(lg);
            @include py(md);

            :hover {
                text-decoration: none;
            }

            :focus {
                // outline: spacing(xxxs) dashed color(dark);
                // outline-offset: spacing(xxs);
                @include outline();
            }

            &[aria-selected="true"] {
                @include border();
                @include bg-color(white);
                color: color(primary);
                @include shadow(sm);
                @include m(-xxxs);
            }
        }
    }

    .tab-panel {
        width: 100%;
        white-space: normal;
        @include border();
        @include bg-color(white);
        @include p(lg);
    }

    &.align {
        &-top {
            flex-direction: column;

            .tab-list {
                @include border();

                .justify-justified & {
                    height: 100%;
                }

                .tab-item {
                    &[aria-selected="true"] {
                        @include border-b(none);
                    }
                }
            }

            .tab-panel {
                @include border-t(none);
            }
        }

        &-bottom {
            flex-direction: column-reverse;

            .tab-list {
                @include border();
                
                .tab-item {
                    &[aria-selected="true"] {
                        position: relative;
                        @include border-t(none);
                    }
                }
            }

            .tab-panel {
                @include border-b(none);
            }
        }

        &-left {
            flex-direction: row;

            .tab-list {
                flex-direction: column;
                @include border();

                &.justify-justified {
                    .tab-item {
                        height: 100%;
                    }
                }

                .tab-item {
                    align-self: flex-end;
                    width: 100%;
                    @include mr(-xxs);

                    width: 101%;

                    &[aria-selected="true"] {
                        @include shadow();
                        @include border-r(none);
                    }
                }
            }

            .tab-panel {
                @include border-l(none);
            }
        }

        &-right {
            flex-direction: row-reverse;

            .tab-list {
                flex-direction: column;
                @include border();

                &.justify-justified {
                    .tab-item {
                        height: 100%;
                    }
                }

                .tab-item {
                    align-self: flex-start;
                    width: 100%;

                    width: 101%;

                    &[aria-selected="true"] {
                        @include shadow();
                        @include border-l(none);
                    }
                }
            }

            .tab-panel {
                @include border-r(none);
            }
        }
    }
}
