@import "../../../scss/00_Abstracts/index";

.ks-tabs {
    display: flex;
    @include shadow(sm);

    .tab-list {
        display: flex;
        @include bg-color(light, light);
        @include p(none);
        @include m(none);

        .tab-item {
            display: flex;

            &:focus-within {
                outline: spacing(xxxs) dashed color(dark);
                outline-offset: spacing(xxs);
            }

            .tab-link {
                display: inline-block;
                text-decoration: none;
                white-space: nowrap;
                color: color(primary);
                vertical-align: inherit;
                @include px(lg);
                @include py(md);

                @include hover-focus {
                    outline: none;
                    text-decoration: none;
                }

                &[aria-selected] {
                    @include border();
                    @include bg-color(white);
                    @include shadow(sm);
                    @include m(-xxxs);
                }
            }
        }
    }

    .tab-panel {
        width: 100%;
        white-space: normal;
        @include border();
        @include bg-color(white);
        @include p(lg);
    }

    &.align {
        &-top {
            flex-direction: column;

            .tab-list {
                @include border();

                .tab-item {
                    .tab-link {
                        &[aria-selected] {
                            @include border-b(none);
                        }
                    }
                }
            }

            .tab-panel {
                @include border-t(none);
            }
        }

        &-bottom {
            flex-direction: column-reverse;

            .tab-list {
                @include border();

                .tab-item {
                    .tab-link {
                        &[aria-selected] {
                            position: relative;
                            @include border-t(none);
                        }
                    }
                }
            }

            .tab-panel {
                @include border-b(none);
            }
        }

        &-left {
            flex-direction: row;

            .tab-list {
                flex-direction: column;
                @include border();

                .tab-item {
                    align-self: flex-end;
                    width: 100%;
                    @include mr(-xxs);

                    .tab-link {
                        width: 101%;

                        &[aria-selected] {
                            @include shadow();
                            @include border-r(none);
                        }
                    }
                }
            }

            .tab-panel {
                @include border-l(none);
            }
        }

        &-right {
            flex-direction: row-reverse;

            .tab-list {
                flex-direction: column;
                @include border();

                .tab-item {
                    align-self: flex-start;
                    width: 100%;

                    .tab-link {
                        width: 101%;

                        &[aria-selected] {
                            @include shadow();
                            @include border-l(none);
                        }
                    }
                }
            }

            .tab-panel {
                @include border-r(none);
            }
        }
    }
}
