@import "../../../scss/00_Abstracts/index";

.ks-loading {
    display: inline-flex;
    align-items: center;

    .icon {
        margin: 0;
    }

    .message {
        line-height: 1;
        @include ml(sm);
    }

    &.show-message {
        .spinner {
            display: inline-flex;
            align-items: center;
        }
    }
}

.ks-loading-overlay {
    cursor: wait;

    .content {
        line-height: 1;
        @include shadow(none, true);

        .show-message {
            flex-direction: column;
            align-items: center;

            .message {
                margin-top: 0.25em;
                @include ml(none);
            }
        }
    }
}

