@import "../../../scss/00_Abstracts/index";

ks-loading {
    --icon-size: var(--ks-font-size-sm);
    --message-size: var(--ks-font-size-sm);

    display: inline-flex;
    align-items: center;

    ks-icon {
        width: 1.5em;
        height: 1.5em;
        font-size: var(--icon-size);

        .icon {
            margin: 0;
        }
    }

    .message {
        line-height: 1;
        font-size: var(--message-size);
        @include ml(sm);
    }

    &.show-message {
        .spinner {
            display: inline-flex;
            align-items: center;
        }
    }
}

ks-loading-overlay {
    --icon-size: var(--ks-font-size-sm);
    --message-size: var(--ks-font-size-sm);

    cursor: wait;

    .content {
        line-height: 1;
        @include shadow(none, true);

        ks-icon {
            width: 1.5em;
            height: 1.5em;
            font-size: var(--icon-size);
        }

        .show-message {
            flex-direction: column;
            align-items: center;

            .message {
                margin-top: 0.25em;
                font-size: var(--message-size);
                @include ml(none);
            }
        }
    }
}
