@import "../../../scss/00_Abstracts/index";

.ks-loading {
    display: inline-flex;
    align-items: center;

    .icon {
        margin: 0.25em;
    }

    .message {
        line-height: 1;
        @include ml(sm);
    }

    &.show-message {
        .spinner {
            display: inline-flex;
            align-items: center;
        }
    }

    // .spinner {
    //     display: inline-block;
    //     position: relative;
    //     width: 1em;
    //     height: 1em;
    //     cursor: wait;

    //     div {
    //         box-sizing: border-box;
    //         display: block;
    //         position: absolute;
    //         width: 1em;
    //         height: 1em;
    //         border: 0.125em solid color(primary);
    //         border-radius: 50%;
    //         animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    //         border-color: color(primary) transparent transparent transparent;

    //         &:nth-child(1) {
    //             animation-delay: -0.45s;
    //         }

    //         &:nth-child(2) {
    //             animation-delay: -0.3s;
    //         }

    //         &:nth-child(3) {
    //             animation-delay: -0.15s;
    //         }
    //     }
    // }

    // .ellipsis {
    //     display: inline-block;
    //     position: relative;
    //     width: 2.5em;
    //     height: 1em;
    //     cursor: wait;

    //     div {
    //         position: absolute;
    //         top: 0.25em;
    //         width: 0.5em;
    //         height: 0.5em;
    //         border-radius: 50%;
    //         background: color(primary);
    //         animation-timing-function: cubic-bezier(0, 1, 1, 0);

    //         &:nth-child(1) {
    //             left: 0.25em;
    //             animation: grow 0.6s infinite;
    //         }

    //         &:nth-child(2) {
    //             left: 0.25em;
    //             animation: slide-right 0.6s infinite;
    //         }

    //         &:nth-child(3) {
    //             left: 1em;
    //             animation: slide-right 0.6s infinite;
    //         }

    //         &:nth-child(4) {
    //             left: 1.75em;
    //             animation: shrink 0.6s infinite;
    //         }
    //     }
    // }
}

.ks-loading-overlay {
    cursor: wait;

    .content {
        line-height: 1;
        @include shadow(none);

        .show-message {
            flex-direction: column;
            align-items: center;

            .message {
                // font-size: 0.75em;
                // margin-top: 0.25em;
                @include ml(none);
            }
        }
    }
}

