@import "../../../scss/00_Abstracts/index";

.ks-icon {
    line-height: 1;
    position: relative;
    display: inline-block;
    height: 1em;
    width: 1em;

    .icon {
        margin: -0.25em;
        display: inline-block;
        font-size: inherit;
        height: 1.5em;
        width: 1.5em;
        overflow: visible;
        vertical-align: -0.125em;
    }
}
