@import "../../../scss/00_Abstracts/index";

ks-icon {
    line-height: inherit;
    position: relative;
    display: inline-block;

    .icon {
        // margin: -0.25em;
        display: inline-block;
        font-size: inherit;
        height: 1.5em;
        width: 1.5em;
        overflow: visible;
        vertical-align: -0.125em;
    }
}
