@import "../../../../scss/00_Abstracts/index";

ks-button-bar {
    --border-radius: var(--ks-border-radius-sm);

    display: inline-flex;
    @include shadow(xs);
    @include r-var(--border-radius);

    ks-button {
        .button {
            @include shadow(none);
            @include r(none);
        }
    }

    &.inline {
        ks-button {
            @include ml(-xxxs);

            &:first-child {
                .button:not(.dropdown-button) {
                    @include rl-var(--border-radius);
                }
            }

            &:last-child {
                .button:not(.dropdown-button) {
                    @include rr-var(--border-radius);
                }
            }

            & ~ ks-dropdown {    
                ks-button {
                    .button {
                        @include rl(none);
                        @include rr-var(--border-radius);
                    }
                }
            }

            ks-dropdown ~ & {    
                ks-button {
                    .button {
                        @include rr(none);
                        @include rl-var(--border-radius);
                    }
                }
            }    
        }
    }

    &.stacked {
        flex-direction: column;

        .ks-button {
            @include mt(-xxxs);

            &:first-child {
                .button:not(.dropdown-button) {
                    @include rt-var(--border-radius);
                }
            }

            &:last-child {
                .button:not(.dropdown-button) {
                    @include rb-var(--border-radius);
                }
            }

            & ~ ks-dropdown {    
                ks-button {
                    .button {
                        @include rt(none);
                        @include rb-var(--border-radius);
                    }
                }
            }

            ks-dropdown ~ & {    
                ks-button {
                    .button {
                        @include rb(none);
                        @include rt-var(--border-radius);
                    }
                }
            }    
        }
    }
}
