@import "../../../scss/00_Abstracts/index";

ks-overlay {
    --overlay-color: var(--ks-color-dark-base);
    --overlay-opacity: 0.6;
    --content-shadow: var(--ks-shadow-xl);

    align-items: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    touch-action: none;
    opacity: 0;
    background-color: rgba(var(--overlay-color), var(--overlay-opacity));
    @include z-index(xl);
    @include transition();

    &:not(.opened) {
        visibility: hidden;
    }

    &.opened {
        visibility: visible;
        opacity: 1;
        @include transition();

        .content {
            @include transition();
        }
    }

    &.absolute {
        position: absolute;
    }

    .scrim {
        border-radius: inherit;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: inherit;
        width: 100%;
        will-change: opacity;
    }

    .content {
        position: relative;
        outline: none;
        box-shadow: var(--content-shadow);
        @include transition();
    }
}
