@import "../../../scss/00_Abstracts/index";

.ks-overlay {
    align-items: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    touch-action: none;
    opacity: 0;
    @include z-index(xl);
    @include transition();

    &.opened {
        visibility: visible;
        opacity: 1;
        @include transition();

        .content {
            @include transition();
        }
    }

    &.light {
        background-color: color-value(light, 0.6);
    }

    &.dark {
        background-color: color-value(dark, 0.6);
    }

    &.absolute {
        position: absolute;
    }

    .scrim {
        border-radius: inherit;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: inherit;
        width: 100%;
        will-change: opacity;
    }

    .content {
        position: relative;
        outline: none;
        @include shadow(xl);
        @include transition();
    }
}
