@import "../../../scss/00_Abstracts/index";

.overlay {
    align-items: center;
    display: flex;
    visibility: hidden;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    touch-action: none;
    opacity: 0;
    @include z-index(xl);
    @include transition-ease-in-out(fast);

    &.opened {
        visibility: visible;
        opacity: 1;
        @include transition-ease-in-out(fast);
    }

    &.light {
        @include bg-color(light, 0.75);
    }

    &.dark {
        @include bg-color(dark, 0.75);
    }

    &.absolute {
        position: absolute;
    }

    .scrim {
        border-radius: inherit;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: inherit;
        width: 100%;
        will-change: opacity;
    }

    .content {
        position: relative;
        outline: none;
        @include shadow(xl);
    }
}
