@import '../00_Abstracts/index';

.b {
    @each $key,
    $value in $spacing-sizes {
        &-#{$key} {
            @include b($size: $key, $important: true);
        }
    }

    @each $key,
    $value in get-colors() {
        &-#{$key} {
            border-color: color($key) !important;
        }
    }

    &t {
        @each $key,
        $value in $spacing-sizes {
            &-#{$key} {
                @include bt($size: $key, $important: true);
            }
        }

        @each $key,
        $value in get-colors() {
            &-#{$key} {
                border-top-color: color-value($key) !important;
            }
        }
    }

    &b {
        @each $key,
        $value in $spacing-sizes {
            &-#{$key} {
                @include bb($size: $key, $important: true);
            }
        }

        @each $key,
        $value in get-colors() {
            &-#{$key} {
                border-bottom-color: color-value($key) !important;
            }
        }
    }

    &l {
        @each $key,
        $value in $spacing-sizes {
            &-#{$key} {
                @include bl($size: $key, $important: true);
            }
        }

        @each $key,
        $value in get-colors() {
            &-#{$key} {
                border-left-color: color-value($key) !important;
            }
        }
    }

    &r {
        @each $key,
        $value in $spacing-sizes {
            &-#{$key} {
                @include br($size: $key, $important: true);
            }
        }

        @each $key,
        $value in get-colors() {
            &-#{$key} {
                border-right-color: color-value($key) !important;
            }
        }
    }

    &x {
        @each $key,
        $value in $spacing-sizes {
            &-#{$key} {
                @include bx($size: $key, $important: true);
            }
        }

        @each $key,
        $value in get-colors() {
            &-#{$key} {
                border-left-color: color-value($key) !important;
                border-right-color: color-value($key) !important;
            }
        }
    }

    &y {
        @each $key,
        $value in $spacing-sizes {
            &-#{$key} {
                @include by($size: $key, $important: true);
            }
        }

        @each $key,
        $value in get-colors() {
            &-#{$key} {
                border-top-color: color-value($key) !important;
                border-bottom-color: color-value($key) !important;
            }
        }
    }
}

.r {
    @each $key,
    $value in $border-radiuses {
        &#{$key} {
            @include r($key, true);
        }

        &t-#{$key} {
            @include rt($key, true);
        }

        &tl-#{$key} {
            @include rtl($key, true);
        }

        &tr-#{$key} {
            @include rtr($key, true);
        }

        &b-#{$key} {
            @include rb($key, true);
        }

        &bl-#{$key} {
            @include rbl($key, true);
        }

        &r#{$key} {
            @include rr($key, true);
        }

        &l-#{$key} {
            @include rl($key, true);
        }

        &r-#{$key} {
            @include rr($key, true);
        }
    }
}
