@import '../00_Abstracts/index';

.border {
    @include border();
    
    &-t {
        @include border-t();
    }

    &-b {
        @include border-b();
    }

    &-l {
        @include border-l();
    }

    &-r {
        @include border-r();
    }

    &-x {
        @include border-x();
    }

    &-y {
        @include border-y();
    }

    @each $key, $value in $spacing-sizes {
        &-#{$key} {
            border-width: spacing($key);
        }
    }

    @each $key, $value in $theme-colors {
        &-#{$key} {
            border-color: color($key);
        }
    }
}