@import '../00_Abstracts/index';

$variations: ('lighter', 'light', 'base', 'dark', 'darker');

@each $color, $value in get-colors() {
    /*
        .text-primary
        .text-secondary
        ...
    */
    .text-#{$color} {
        @include color($color, $important: true);
    }

    .text {
        &-white {
            color: white !important;
        }
    
        &-black {
            color: black !important;
        }    
    }

    /*
        .bg-primary
        .bg-secondary
        ...
    */
    .bg-#{$color} {
        @include bg-color($color, $important: true);
    }

    .bg {
        &-white {
            @include bg-color(white, true);
        }
    
        &-black {
            @include bg-color(black, true);
        }
    }

    @each $variation in $variations {
        /*
            .text-primary-lighter
            .text-secondary-dark
            ...
        */
        .text-#{$color}-#{$variation} {
            @include color($color, $variation, $important: true);
        }

        /*
            .bg-primary-light
            .bg-secondary-darker
            ...
        */
        .bg-#{$color}-#{$variation} {
            @include bg-color($color, $variation, 1, true);
        }
    }
}
