@import '../00_Abstracts/index';

$angles: (0, 45, 90, 135, 180, 225, 270, 360);

.rotate {
    @each $angle in $angles {
        &-#{$angle} {
            transform: rotate(#{$angle}deg) !important;
        }

        &--#{$angle} {
            transform: rotate(-#{$angle}deg) !important;
        }
    }
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spin {
    &-fast {
        animation: rotating transition(med) linear infinite !important;
    }

    &-med {
        animation: rotating transition(slow) linear infinite !important;
    }

    &-slow {
        animation: rotating transition(xslow) linear infinite !important;
    }

    &-none {
        animation: none !important;
    }
}
