@import '../00_Abstracts/index';

$breakpoints: (xl, lg, md, sm, xs, xxs, print);

@each $size,
$value in $spacing-sizes {

    // Padding
    .p-#{$size} {
        @include p($size, $important: true);
    }

    // Padding X
    .px-#{$size} {
        @include px($size, $important: true);
    }

    // Padding Y
    .py-#{$size} {
        @include py($size, $important: true);
    }

    // Padding Left
    .pl-#{$size} {
        @include pl($size, $important: true);
    }

    // Padding Right
    .pr-#{$size} {
        @include pr($size, $important: true);
    }

    // Padding Top
    .pt-#{$size} {
        @include pt($size, $important: true);
    }

    // Padding Bottom
    .pb-#{$size} {
        @include pb($size, $important: true);
    }


    // Margin
    .m-#{$size} {
        @include m($size, $important: true);
    }

    .-m-#{$size} {
        @include m(#{"-" + $size}, $important: true);
    }

    // Margin X
    .mx-#{$size} {
        @include mx($size, $important: true);
    }

    .-mx-#{$size} {
        @include mx(#{"-" + $size}, $important: true);
    }

    // Margin Y
    .my-#{$size} {
        @include my($size, $important: true);
    }

    .-my-#{$size} {
        @include my(#{"-" + $size}, $important: true);
    }

    // Margin Left
    .ml-#{$size} {
        @include ml($size, $important: true);
    }

    .-ml-#{$size} {
        @include ml(#{"-" + $size}, $important: true);
    }

    // Margin Right
    .mr-#{$size} {
        @include mr($size, $important: true);
    }

    .-mr-#{$size} {
        @include mr(#{"-" + $size}, $important: true);
    }

    // Margin Top
    .mt-#{$size} {
        @include mt($size, $important: true);
    }

    .-mt-#{$size} {
        @include mt(#{"-" + $size}, $important: true);
    }

    // Margin Bottom
    .mb-#{$size} {
        @include mb($size, $important: true);
    }

    .-mb-#{$size} {
        @include mb(#{"-" + $size}, $important: true);
    }
}

@each $mq, $value in $breakpoints {
    @include mq($mq) {

        @each $size,
        $value in $spacing-sizes {

            // Padding
            .#{$mq}\:p-#{$size} {
                @include p($size, $important: true);
            }

            // Padding X
            .#{$mq}\:px-#{$size} {
                @include px($size, $important: true);
            }

            // Padding Y
            .#{$mq}\:py-#{$size} {
                @include py($size, $important: true);
            }

            // Padding Left
            .#{$mq}\:pl-#{$size} {
                @include pl($size, $important: true);
            }

            // Padding Right
            .#{$mq}\:pr-#{$size} {
                @include pr($size, $important: true);
            }

            // Padding Top
            .#{$mq}\:pt-#{$size} {
                @include pt($size, $important: true);
            }

            // Padding Bottom
            .#{$mq}\:pb-#{$size} {
                @include pb($size, $important: true);
            }


            // Margin
            .#{$mq}\:m-#{$size} {
                @include m($size, $important: true);
            }

            .#{$mq}\:-m-#{$size} {
                @include m(#{"-" + $size}, $important: true);
            }

            // Margin X
            .#{$mq}\:mx-#{$size} {
                @include mx($size, $important: true);
            }

            .#{$mq}\:-mx-#{$size} {
                @include mx(#{"-" + $size}, $important: true);
            }

            // Margin Y
            .#{$mq}\:my-#{$size} {
                @include my($size, $important: true);
            }

            .#{$mq}\:-my-#{$size} {
                @include my(#{"-" + $size}, $important: true);
            }

            // Margin Left
            .#{$mq}\:ml-#{$size} {
                @include ml($size, $important: true);
            }

            .#{$mq}\:-ml-#{$size} {
                @include ml(#{"-" + $size}, $important: true);
            }

            // Margin Right
            .#{$mq}\:mr-#{$size} {
                @include mr($size, $important: true);
            }

            .#{$mq}\:-mr-#{$size} {
                @include mr(#{"-" + $size}, $important: true);
            }

            // Margin Top
            .#{$mq}\:mt-#{$size} {
                @include mt(#{"-" + $size}, $important: true);
            }

            .#{$mq}\:-mt-#{$size} {
                @include mt(#{"-" + $size}, $important: true);
            }

            // Margin Bottom
            .#{$mq}\:mb-#{$size} {
                @include mb(#{"-" + $size}, $important: true);
            }

            .#{$mq}\:-mb-#{$size} {
                @include mb(#{"-" + $size}, $important: true);
            }
        }
    }
}
