@import "../00_Abstracts/index";

.text {
    // Font Size
    @each $key, $value in $font-sizes {
        &-#{$key} {
            @include font-size($key, true);
        }

        @each $mq, $value in $media-queries {
            @include mq($mq) {
                /*
                    sm:text-md
                    xl:text-xl
                */
                .#{$mq}\:text-#{$key} {
                    @include screen-reader-only;
                }
            }
        }
    }

    &-normal {
        font-weight: normal !important;
    }

    &-bold {
        font-weight: bold !important;
    }

    &-italic {
        font-style: italic !important;
    }

    &-underline {
        text-decoration: underline !important;
    }

    &-decoration-none {
        text-decoration: none !important;
    }

    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }
}
