@import "../00_Abstracts/index";

[hidden] {
    display: none !important;
}

.sr-only {
    @include screen-reader-only();
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

@each $mq, $value in $media-queries {
    @include mq($mq) {
        .#{$mq}\:sr-only {
            @include screen-reader-only();
        }

        .#{$mq}\:visible {
            visibility: hidden !important;
        }

        .#{$mq}\:invisible {
            visibility: hidden !important;
        }

        .#{$mq}\:show {
            display: none !important;
        }

        .#{$mq}\:show {
            display: none !important;
        }

        .#{$mq}\:hide {
            display: none !important;
        }
    }
}
