@import "../00_Abstracts/index";

.accordion {
    display: block;

    .accordion-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include mt(-xxs);

        &:first-child {
            @include mt(none);
        }

        .accordion-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: color(primary);
            font-weight: bold;
            @include font-size(sm);
            @include border($size: xxs, $color: primary);
            @include p(sm);

            .accordion-icon {
                color: color(primary);
                @include transition-ease-in-out(med);
            }

            &:focus {
                outline: 1px dashed color(dark);
            }

            &[aria-expanded="true"] {
                .accordion-icon {
                    transform: rotate(-180deg);
                    @include transition-ease-in-out(med);
                }
            }
        }

        .accordion-content {
            height: 0;
            display: block;
            visibility: hidden;
            overflow: hidden;
            @include px(lg);
            @include border-x($size: xxs);
            @include transition-ease-in-out(fast);

            &[aria-hidden="false"] {
                height: auto;
                visibility: visible;
                @include py(lg);
                @include border-b($size: xxs);
            }
        }
    }
}
