@import "../00_Abstracts/index";

ks-button {
    display: inline-block;
    position: relative;
}

.button {
    display: flex;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include p(md);
    @include shadow(xs);
    @include transition-ease-in-out(fast);

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: white;
        visibility: hidden;
        z-index: z(xxs);
    }

    &:not(:active):not(:disabled):before {
        animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
        transition: visibility 0.4s step-end;
    }

    &:active:before {
        visibility: visible;
    }

    &:focus,
    &:hover:not(:disabled) {
        @include shadow(md);
        @include transition-ease-in-out(fast);
    }

    &:active:not(:disabled) {
        top: 1px;
        @include shadow(inner);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        @include shadow(inner);
    }

    @each $color, $value in $theme-colors {
        &.#{$color} {
            &.solid {
                background-color: color($color);
                background-image: linear-gradient(
                    0deg,
                    color($color) 0%,
                    color($color, lighter) 100%
                );
                color: text-color($color, dark);
                text-shadow: 2px 2px 4px color($color, darker);
                @include border(solid, xxs, $color, light);
                @include border-b(solid, xxs, $color);
                border-image-slice: 2;
                border-image-source: linear-gradient(
                    0deg,
                    color($color) 0%,
                    color($color, lighter) 100%
                );
            }

            &.hollow {
                background-color: transparent;
                color: color($color);
                @include border(solid, xxs, $color);

                &:focus,
                &:hover:not(:disabled) {
                    background-color: transparent;
                }
            }

            &.clear {
                border-color: transparent;
                background-color: transparent;
                color: color($color);
                @include shadow(none);
                @include transition-ease-in-out(fast);

                &:focus,
                &:hover:not(:disabled) {
                    border-color: transparent;
                    background-color: transparent;
                }
            }

            &.link {
                background-color: transparent;
                display: inline-block;
                color: color($color);
                text-decoration: none;
                border: 0;
                @include p(none);
                @include shadow(none);

                &:focus,
                &:hover:not(:disabled) {
                    background-color: transparent;
                    color: color($color, light);
                    text-decoration: underline;
                    @include shadow(none);
                }
            }
        }
    }

    &.xsmall {
        @include p(xs);
        @include font-size(xs);
    }

    &.small {
        @include p(sm);
        @include font-size(sm);
    }

    &.medium {
        @include p(md);
        @include font-size(sm);
    }

    &.large {
        @include p(lg);
        @include font-size(md);
    }

    &.xlarge {
        @include p(xl);
        @include font-size(lg);
    }

    &.icon {
        &-left {
            flex-direction: row;

            .button-icon {
                @include mr(sm);
            }
        }

        &-right {
            flex-direction: row-reverse;

            .button-icon {
                @include ml(sm);
            }
        }
    }
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
}
