@import "../00_Abstracts/index";

.card {
    position: relative;
    @include shadow();

    &.img-top {
        display: flex;
        flex-direction: column;
    }

    &.img-bottom {
        display: flex;
        flex-direction: column-reverse;
    }

    &.img-left {
        display: flex;
    }

    &.img-right {
        display: flex;
        flex-direction: row-reverse;
    }

    &.img-behind {
        display: flex;
        flex-direction: column;

        .card-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .card-body {
                .heading,
                .subheading,
                .text {
                    color: white;
                    text-shadow: 2px 2px 4px color(dark);
                }
            }
        }
    }

    .card-content {
        @include p(md);

        .card-header {
        }

        .card-body {
            .heading {
                @include font-size(lg);
                @include mb(none);
            }

            .subheading {
                color: color(dark, lighter);
                @include mb(xs);
            }

            .text {
                color: color(dark, lighter);
            }
        }

        .card-footer {
        }
    }
}
