@import "../00_Abstracts/index";

.carousel {
    display: block;
    position: relative;

    .slides {
        position: relative;
        @include bg-color(light, darker);

        .slide {
            display: none;
            @include fade-out;

            &.active {
                display: block;
                @include fade-in;
            }
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: white;
            padding-left: 3.75rem;
            padding-right: 3.75rem;
            text-shadow: 2px 2px 4px color(dark);
            @include my(xxl);
        }

        .control {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10%;
            color: color(white, 0.5);
            background-color: transparent;
            border: none;
            @include font-size(xl);

            &:focus,
            &:hover {
                outline: 0;
                color: color(white);
            }

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }
        }
    }

    .controls {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .indicators {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include mx(auto);
        @include my(md);

        .indicator {
            height: 1rem;
            width: 1rem;
            background-color: color(light, 0.5);
            @include radius(circle);
            @include mx(sm);
            @include transition-ease-in-out(fast);

            @include hover-focus {
                outline: 0;
                background-color: color(light, 0.75);
                @include shadow(xs);
            }

            &.active {
                background-color: color(light);
                @include shadow(xs);
                @include transition-ease-in-out(fast);
            }
        }
    }

    .thumbnails {
        display: flex;

        .indicator {
            flex-grow: 1;
            flex-basis: 0;
            opacity: 0.5;
            @include border(none);
            @include p(none);
            @include m(none);
            @include transition-ease-in-out(fast);

            &:hover {
                outline: 0;
                opacity: 0.75;
                @include shadow(xs);
                @include transition-ease-in-out(fast);
            }

            &:focus {
                @include shadow(outline);
            }

            &.active {
                opacity: 0.9;
                @include shadow(xs);
                @include transition-ease-in-out(fast);
            }
        }

        .indicator + .indicator {
            @include pl(xs);
        }
    }
}
