@import "../00_Abstracts/index";

.carousel {
    position: relative;

    .slides {
        .slide {
            display: none;
            @include fade-out;

            &.active {
                display: block;
                @include fade-in;
            }

            // &.slide {
            //     @include slide-out;

            //     &.active {
            //         @include slide-in;
            //     }
            // }

            // &.fade {
            //     @include fade-out;

            //     &.active {
            //         @include fade-in;
            //     }
            // }
        }
    }

    .control {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 15%;
        color: color(white, 0.50);
        background-color: transparent;
        border: none;
        @include font-size(xl);


        &:focus,
        &:hover {
            color: color(white);
        }

        &.prev {
            left: 0;
        }

        &.next {
            right: 0;
        }
    }

    .controls {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .indicators {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include mx(auto);
        @include my(md);

        .indicator {
            height: 1rem;
            width: 1rem;
            background-color: color(light, 0.5);
            @include radius(circle);
            @include mx(sm);
            @include transition-ease-in-out(slow);

            &.active {
                background-color: color(light);
                @include transition-ease-in-out(slow);
            }
        }
    }
}
