@import "../00_Abstracts/index";

.dropdown {
    position: relative;
    display: inline-block;

    &.mega-menu {
        display: block;
        position: static;
        width: 100%;
    }

    .button {
        white-space: nowrap;
        display: flex;
        align-items: center;

        .button-text {
            display: flex;
            align-items: center;

            .dropdown-icon {
                @include ml(sm);
                @include transition-ease-in-out(med);
            }    
        }

        &[aria-expanded="true"] .dropdown-icon {
            transform: rotate(-180deg);
            @include transition-ease-in-out(med);
        }
    }

    .dropdown-contents {
        display: none;
        left: 0;
        position: absolute;
        z-index: z(xs);
        list-style: none;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        max-width: 90vw;
        overflow-x: scroll;
        @include shadow(sm);
        @include bg-color(white);
        @include px(sm);
        @include py(none);
        @include m(none);
        @include transition-ease-in-out(fast);

        .dropdown-item {
            > * {
                text-align: left;
                text-decoration: none;
                display: block;
                color: color(primary);
                width: 100%;
                font-weight: normal;
                @include font-size(sm);
                @include px(lg);
                @include py(md);
            }

            a,
            button {
                @include hover-focus {
                    background-color: color(light, light);
                }
            }
        }

        &.align-left {
            left: 0;
            right: auto;
        }

        &.align-right {
            right: 0;
            left: auto;
        }
    }

    .mega-menu-contents {
        display: none;
        position: absolute;
        float: none;
        left: 0;
        right: 0;
        max-width: 100%;
        min-width: 200px;
        overflow-y: auto;
        z-index: z(xs);
        @include shadow(xs);
        @include bg-color(white);
        @include px(sm);
        @include py(none);
        @include m(none);
        @include transition-ease-in-out(fast);
    }

    &.show {
        .contents {
            display: block;
            width: auto;
            @include border();
            @include py(sm);
            @include transition-ease-in-out(fast);
        }

        .dropdown-contents {
            display: flex;
            flex-direction: column;
        }
    }
}

.navbar {
    .navbar-item {
        .dropdown {
            @include m(none);

            .dropdown-button {
                &.link {
                    cursor: pointer;
                    color: inherit;
                    border: inherit;
                    line-height: inherit;
                    height: inherit;
                    padding: inherit;
                    font-weight: bold;
                    @include m(none);

                    @include hover-focus {
                        background-color: inherit;
                        text-decoration: underline;
                    }

                    &:focus {
                        outline: 1px dashed text-color(primary);
                    }
                }
            }
        }
    }

    &.collapse {
        @each $key, $value in $media-queries {
            &-#{$key} {
                @include mq($key) {
                    .navbar-item {
                        .dropdown {
                            .dropdown-button {
                                width: 100%;
                                text-align: left;
                            }

                            .dropdown-contents {
                                position: relative;
                                width: 100vw;
                                max-width: 100vw;
                                @include mx(-lg);
                            }
                        }
                    }
                }
            }
        }
    }
}
