@import "../00_Abstracts/index";

.form-field {
    display: block;

    .form-label {
        display: flex;
        flex-direction: column;
        @include px(md);

        .field-label {
            font-weight: bold;
            display: flex;
            align-items: flex-end;

            .tooltip {
                line-height: 1;
                @include ml(sm);
            }
        }

        .help-text {
            color: color(dark, light);
            @include font-size(xs);
        }

        .error-message {
            @include font-size(xs);

            .error-text {
                display: flex;
                align-items: center;
                @include mb(xs);
            }
        }
    }

    .form-input {
        width: 100%;
        @include border($size: xxs);
        @include p(md);
        @include shadow(inner);

        &:disabled {
            cursor: not-allowed;
            @include bg-color(light);
            @include shadow(none);
        }

        &::placeholder {
            opacity: 0.7;
            color: color(dark, lighter);
            font-style: italic;
        }

        &[aria-invalid="true"] {
            @include border($size: xxs, $color: danger);
        }
    }
}
