@import '../00_Abstracts/index';

ks-icon {
    display: inline-block;
    line-height: inherit;

    .icon {
        display: inline-block;
        font-size: inherit;
        height: 1.5em;
        overflow: visible;
        width: 1.5em;
        margin-top: -0.5em;
        margin-bottom: -0.25em;
    }
}
