@import '../00_Abstracts/index';

ks-icon {
    display: flex;
    align-items: center;
    height: 1.25em;
    line-height: inherit;
    margin-top: -0.25em;
    margin-bottom: -0.25em;

    .icon {
        display: inline-block;
        font-size: inherit;
        height: 1.5em;
        overflow: visible;
        width: 1.5em;
        margin-top: -0.25em;
        margin-bottom: -0.25em;
    }
}
