@import "../00_Abstracts/index";

.loading {
    display: inline-block;

    .message {
        font-size: 0.5em;
    }

    &.show-message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .spinner {
        display: inline-block;
        position: relative;
        width: 2.5em;
        height: 1.75em;
        cursor: wait;

        div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 1.25em;
            height: 1.25em;
            margin: 0.5em;
            border: 0.175em solid color(primary);
            border-radius: 50%;
            animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: color(primary) transparent transparent transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }

            &:nth-child(2) {
                animation-delay: -0.3s;
            }

            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }
    }

    .ellipsis {
        display: inline-block;
        position: relative;
        width: 2.5em;
        height: 1em;
        cursor: wait;

        div {
            position: absolute;
            top: 0.4em;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background: color(primary);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);

            &:nth-child(1) {
                left: 0.25em;
                animation: grow 0.6s infinite;
            }

            &:nth-child(2) {
                left: 0.25em;
                animation: slide-right 0.6s infinite;
            }

            &:nth-child(3) {
                left: 1em;
                animation: slide-right 0.6s infinite;
            }

            &:nth-child(4) {
                left: 1.75em;
                animation: shrink 0.6s infinite;
            }
        }
    }
}

.loading-overlay {
    cursor: wait;

    .content {
        @include shadow(none);
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slide-right {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0.75em, 0);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
