@import "../00_Abstracts/index";

.modal {
    max-width: 100%;
    @include bg-color(light);
    @include p(lg);

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        @include border-b();
        @include mb(md);

        .modal-title {
        }

        .modal-close {
            @include font-size(lg);

            .button {
                @include p(none);
            }
        }
    }

    &.size {
        &-sm {
            width: 300px;
        }

        &-md {
            width: 500px;
        }

        &-lg {
            width: 800px;
        }
    }

    .modal-content {
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            @include mt(md);
        }
    }
}
