@import "../00_Abstracts/index";

.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    @include font-size(sm);

    .navbar-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        @include p(sm);

        .logo {
            max-width: 3rem;
            width: auto;
            @include mx(auto);

            img {
                width: 100%;
            }
        }

        .tagline {
            white-space: nowrap;
            text-decoration: none;
            @include font-size(md);
            @include ml(sm);
        }
    }

    .navbar-toggler {
        display: none;
        background-color: transparent;
        @include ml(auto);
        @include mr(sm);
        @include px(md);
        @include py(sm);
        @include shadow(none);
    }

    .navbar-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-basis: auto;
        width: 100%;
        max-width: 100%;

        .navbar-row {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-content: center;

            &:focus {
                outline: none;
            }

            .navbar-group {
                display: flex;
                align-items: center;

                &.align {
                    &-left {
                        @include mr(auto);
                    }

                    &-right {
                        @include ml(auto);
                    }
                }
            }

            .navbar-item {
                font-weight: 600;
                @include px(lg);
                @include my(sm);

                &.active {
                    > * {
                        text-decoration: underline;
                        font-weight: 900;
                    }
                }

                > * {
                    font-weight: 600;
                    white-space: nowrap;
                    text-decoration: none;
                }

                &:last-child {
                    @include border(none);
                }

                @include hover-focus {
                    text-decoration: underline;
                }
            }
        }
    }

    @each $key, $value in $theme-colors {
        &.#{$key} {
            @include bg-color($key);

            .navbar-branding {
                color: text-color($key);

                &:focus {
                    outline: 1px dashed text-color($key);
                }
            }

            .navbar-toggler {
                color: text-color($key);
                @include border($color: text-color($key));
            }

            .navbar-content {
                .navbar-row {
                    .navbar-item {
                        > * {
                            color: text-color($key);

                            &:focus {
                                outline: 1px dashed text-color($key);
                            }
                        }
                    }
                }
            }

            &.inverted {
                background-color: white;
                @include border-b();

                .navbar-branding {
                    color: color($key);

                    &:focus {
                        outline: 1px dashed color($key);
                    }
                }

                .navbar-toggler {
                    color: color($key);
                    border-color: color($key);
                }

                .navbar-content {
                    .navbar-row {
                        .navbar-item {
                            > * {
                                color: color($key);

                                &:focus {
                                    outline: 1px dashed color($key);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.collapse {
        @each $key, $value in $media-queries {
            &-#{$key} {
                @include mq($key) {
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    .navbar-toggler {
                        display: block;
                    }

                    .navbar-content {
                        display: none;
                        flex-basis: 100%;
                        flex-grow: 1;
                        align-items: center;
                        flex-direction: column;

                        .navbar-row {
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;

                            .navbar-group {
                                flex-direction: column;
                                justify-content: start;
                                align-items: flex-start;
                                width: 100%;
                                @include mx(none);
                            }

                            .navbar-item {
                                width: 100%;
                                text-align: left;
                                @include border(none);

                                > * {
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    [aria-expanded="true"] + .navbar-content {
                        display: block;
                        @include border-t();
                        @include transition-ease-in-out(fast);
                    }
                }
            }
        }
    }
}
