@import "../00_Abstracts/index";

$drawer-sizes: (
    sm: 16rem,
    md: 22.5rem,
    lg: 30rem,
    xl: 45rem
);

.side-drawer {
    height: 100%;
    max-width: 90%;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    @include p(lg);
    @include bg-color(white);
    @include transition-ease-in-out(med);

    @each $direction in (left, right) {
        &.#{$direction} {
            @include border-r($color: dark, $variant: lighter);

            @each $key, $value in $drawer-sizes {
                &.size-#{$key} {
                    width: $value;
                    #{$direction}: -$value;
                }
            }

            &.show {
                visibility: visible;
                #{$direction}: 0;
            }
        }
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        @include border-b();
        @include font-size(xl);

        .drawer-close {
            .button {
                @include font-size(lg);
                @include p(none);
            }
        }
    }

    .drawer-body {
        @include py(lg);
    }
}
