@import "../00_Abstracts/index";

.side-drawer {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    @include p(lg);
    @include bg-color(white);
    @include transition-ease-in-out(med);

    &.left {
        left: -250px;
        @include border-r($color: dark, $variant: lighter);

        &.show {
            visibility: visible;
            left: 0;
        }
    }

    &.right {
        right: -250px;
        @include border-l($color: dark, $variant: lighter);

        .drawer-header {
            flex-direction: row-reverse;
        }

        &.show {
            visibility: visible;
            right: 0;
        }
    }

    .drawer-header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        @include border-b();
        @include font-size(xl);

        .drawer-close {
            @include font-size(lg);

            .button {
                @include p(none);
            }
        }
    }

    .drawer-body {
        @include py(lg);
    }
}
