@import "../00_Abstracts/index";

.spin-box {
    display: inline-flex;
    align-items: center;
    @include shadow(xs);

    .form-input {
        margin: 0;
        width: 4rem;
        text-align: center;
        @include font-size(sm);
        @include p(sm);
        @include shadow(inner);
        @include border($size: xxs);
    }
}
