@import "../../../scss/00_Abstracts/index";

.ks-badge {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25em 0.4em;
    font-size: 0.75em;
    @include br(pill);
    @include shadow(xs);

    @each $color, $value in get-colors() {
        &.#{$color} {
            @include bg-color($color);
            @include b($color: $color);

            &.hollow {
                background-color: transparent;
                @include color($color);
            }
        }
    }
}
