@import "../../../scss/00_Abstracts/index";

ks-form-field {
    --border-radius: var(--ks-border-radius-sm);
    --help-text-size: var(--ks-font-size-xs);
    --error-message-size: var(--ks-font-size-xs);
    --error-message-color: var(--ks-color-danger-base);
    --input-background-color: white;
    --input-color: var(--ks-color-dark-base);;
    --input-font-size: var(--ks-font-size-sm);
    --disabled-color: var(--ks-color-dark-base);
    --disabled-background-color: var(--ks-color-light-lighter);
    --placeholder-color: var(--ks-color-dark-lighter);
    --icon-color: var(--ks-color-light-darker);
    --icon-size: var(--ks-font-size-md);
    --input-button-color: var(--ks-color-dark-lighter);
    --checkbox-size: 1em;
    --radio-button-size: 1em;

    display: block;
    position: relative;

    &.inline {
        display: flex;
        align-items: center;

        .form-label {
            @include mr(sm);
        }
    }

    &[type="range"] .input-wrapper {
        height: 2rem;
    }


    .form-label {
        display: flex;
        flex-direction: column;

        .field-label {
            font-weight: bold;
            display: flex;

            .ks-tooltip {
                line-height: 1;
                display: inline-flex;
                align-items: center;
                @include ml(xs);
            }
        }

        .help-text {
            font-weight: normal;
            font-size: var(--help-text-size);
            @include color(dark, light);
        }

        .error-message {
            font-size: var(--error-message-size);
            color: rgb(var(--error-message-color));

            .error-text {
                display: flex;
                align-items: center;
                @include mb(xs);

                ks-icon {
                    @include mr(xs);
                }
            }
        }
    }

    .form-input {
        width: 100%;
        background-color: rgb(var(--input-background-color));
        color: rgb(var(--input-color));
        font-size: var(--input-font-size);
        @include b();
        @include p(md);
        @include shadow(inner);
        @include r-var(--border-radius);

        &:not(textarea, [type="range"]) {
            line-height: 1;

            &.size {
                &-sm {
                    height: 2.5rem;
                    @include py(sm);
                    @include font-size(sm);
                }

                &-md {
                    height: 3rem;
                    @include py(md);
                    @include font-size(sm);
                }

                &-lg {
                    height: 3.75rem;
                    @include py(lg);
                    @include font-size(md);
                }
            }
        }

        &[type="search"] {
            &::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
        }

        &[type="range"] {
            -webkit-appearance: none;
            border: 0;
            height: 0.25rem;
            outline-offset: 1rem;
            @include shadow(none);
            @include p(none);

            &::-webkit-slider-runnable-track {
                cursor: pointer;
                width: 100%;
                height: 0.25rem;
                background: transparent;
                @include r(sm);
                @include shadow(xs);
            }

            &::-webkit-slider-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                -webkit-appearance: none;
                margin-top: -11px;
                @include r(xl);
                @include shadow(sm);
                @include b();
            }

            &::-moz-range-track {
                cursor: pointer;
                width: 100%;
                height: 0.75rem;
                background: color-value(light);
                @include r(sm);
                @include shadow(xs);
            }

            &::-moz-range-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                @include r(xl);
                @include shadow(sm);
                @include b();
            }

            &::-ms-track {
                cursor: pointer;
                width: 100%;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            &::-ms-fill-lower {
                background: color-value(primary);
                @include r(xl);
                @include shadow(xs);
            }

            &::-ms-fill-upper {
                background: color-value(light, light);
                @include r(xl);
                @include shadow(xs);
            }

            &::-ms-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                @include r(xl);
                @include mt(xxxs);
                @include shadow(sm);
                @include b($color: dark);
            }

            &:focus {
                &::-webkit-slider-runnable-track {
                    background: transparent;
                }

                &::-ms-fill-lower {
                    background: color-value(primary);
                }

                &::-ms-fill-upper {
                    background: transparent;
                }
            }
        }

        &:disabled {
            cursor: not-allowed;
            background-color: rgb(var(--disabled-background-color));
            color: rgb(var(--disabled-color));
            @include shadow(none);
        }

        &::placeholder {
            opacity: 0.7;
            font-style: italic;
            color: rgb(var(--placeholder-color));
        }

        &[aria-invalid="true"] {
            border-color: rgb(var(--error-message-color));
        }

        &.display-icon-left {
            padding-left: 2.25rem;
        }

        &.display-icon-right {
            padding-right: 2.25rem;
        }
    }

    .input-wrapper {
        position: relative;

        .input-icon {
            color: rgb(var(--icon-color));
            @include p(xxs);
        }

        .icon-left {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgb(var(--input-background-color));
            color: rgb(var(--input-color));
            font-size: var(--icon-size);
            @include ml(md);
        }

        .icon-right {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgb(var(--input-background-color));
            color: rgb(var(--input-color));
            font-size: var(--icon-size);
            @include mr(sm);

            .input-icon {
                @include mr(md);
            }

            .input-button {
                font-size: var(--input-font-size);
                @include mr(none);

                .icon {
                    font-size: var(--input-font-size);
                    color: rgb(var(--input-button-color));
                }
            }
        }
    }

    .select-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        select.form-input {
            cursor: pointer;
            appearance: none;
            line-height: 1.5;
            background-color: rgb(var(--input-background-color));
            color: rgb(var(--input-color));
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            @include r-var(--border-radius);
            @include py(none);

            &::-ms-expand {
                display: none;
            }
        }

        .select-icon {
            pointer-events: none;
            @include ml(-xxxl);
        }
    }
}
