@import "../../../scss/00_Abstracts/index";

.ks-form-field {
    display: block;
    position: relative;

    &.inline {
        display: flex;
        align-items: center;

        .form-label {
            @include mr(sm);
        }
    }

    &[type="range"] .input-wrapper {
        height: 2rem;
    }


    .form-label {
        display: flex;
        flex-direction: column;

        .field-label {
            font-weight: bold;
            display: flex;

            .ks-tooltip {
                line-height: 1;
                display: inline-flex;
                align-items: center;
                @include ml(xs);
            }
        }

        .help-text {
            font-weight: normal;
            @include color(dark, light);
            @include font-size(xs);
        }

        .error-message {
            @include font-size(xs);

            .error-text {
                display: flex;
                align-items: center;
                @include mb(xs);
            }
        }
    }

    .form-input {
        width: 100%;
        background-color: white;
        @include font-size(sm);
        @include b();
        @include p(md);
        @include shadow(inner);
        @include r(sm);

        &:not(textarea, [type="range"]) {
            line-height: 1;

            &.size {
                &-sm {
                    height: 2.5rem;
                    @include py(sm);
                    @include font-size(sm);
                }

                &-md {
                    height: 3rem;
                    @include py(md);
                    @include font-size(sm);
                }

                &-lg {
                    height: 3.75rem;
                    @include py(lg);
                    @include font-size(md);
                }
            }
        }

        &[type="search"] {
            &::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
        }

        &[type="range"] {
            -webkit-appearance: none;
            border: 0;
            height: 0.25rem;
            outline-offset: 1rem;
            @include shadow(none);
            @include p(none);

            &::-webkit-slider-runnable-track {
                cursor: pointer;
                width: 100%;
                height: 0.25rem;
                background: transparent;
                @include r(sm);
                @include shadow(xs);
            }

            &::-webkit-slider-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                -webkit-appearance: none;
                margin-top: -11px;
                @include r(xl);
                @include shadow(sm);
                @include b();
            }

            &::-moz-range-track {
                cursor: pointer;
                width: 100%;
                height: 0.75rem;
                background: color-value(light);
                @include r(sm);
                @include shadow(xs);
            }

            &::-moz-range-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                @include r(xl);
                @include shadow(sm);
                @include b();
            }

            &::-ms-track {
                cursor: pointer;
                width: 100%;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            &::-ms-fill-lower {
                background: color-value(primary);
                @include r(xl);
                @include shadow(xs);
            }

            &::-ms-fill-upper {
                background: color-value(light, light);
                @include r(xl);
                @include shadow(xs);
            }

            &::-ms-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                @include r(xl);
                @include mt(xxxs);
                @include shadow(sm);
                @include b($color: dark);
            }

            &:focus {
                &::-webkit-slider-runnable-track {
                    background: transparent;
                }

                &::-ms-fill-lower {
                    background: color-value(primary);
                }

                &::-ms-fill-upper {
                    background: transparent;
                }
            }
        }

        &:disabled {
            cursor: not-allowed;
            @include bg-color(light, lighter);
            @include color(dark, 0.5);
            @include shadow(none);
        }

        &::placeholder {
            opacity: 0.7;
            font-style: italic;
            @include color(dark, lighter);
        }

        &[aria-invalid="true"] {
            @include b($color: danger);
        }

        &.display-icon-left {
            padding-left: 2.25rem;
        }

        &.display-icon-right {
            padding-right: 2.25rem;
        }
    }

    .input-wrapper {
        position: relative;

        .input-icon {
            @include p(xxs);
            @include color(light, darker);
        }

        .icon-left {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            @include ml(md);
            @include font-size(md);
        }

        .icon-right {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            @include font-size(md);
            @include mr(sm);

            .input-icon {
                @include mr(md);
            }

            .input-button {
                @include mr(none);
                @include font-size(sm);

                .icon {
                    @include font-size(sm);
                    @include color(dark, lighter)
                }
            }
        }
    }

    .select-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        select.form-input {
            cursor: pointer;
            appearance: none;
            line-height: 1.5;
            background-color: white;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            @include r(sm);
            @include py(none);

            &::-ms-expand {
                display: none;
            }
        }

        .select-icon {
            pointer-events: none;
            @include ml(-xxxl);
        }
    }
}
