@import "../../../scss/00_Abstracts/index";

.ks-form-field {
    display: block;
    position: relative;

    &.inline {
        display: flex;
        align-items: center;

        .form-label {
            @include mr(sm);
        }
    }

    .form-label {
        display: flex;
        flex-direction: column;

        .field-label {
            font-weight: bold;
            display: flex;

            .ks-tooltip {
                line-height: 1;
                display: inline-flex;
                align-items: center;
                @include ml(xs);
            }
        }

        .help-text {
            font-weight: normal;
            @include color(dark, light);
            @include font-size(xs);
        }

        .error-message {
            @include font-size(xs);

            .error-text {
                display: flex;
                align-items: center;
                @include mb(xs);
            }
        }
    }

    .form-input {
        width: 100%;
        @include font-size(sm);
        @include b($size: xxs);
        @include p(md);
        @include shadow(inner);
        @include br(sm);

        &:not(textarea) {
            line-height: 1;

            &.size {
                &-sm {
                    height: 2.5rem;
                    @include py(sm);
                    @include font-size(sm);
                }
    
                &-md {
                    height: 3rem;
                    @include py(md);
                    @include font-size(sm);
                }
    
                &-lg {
                    height: 3.75rem;
                    @include py(lg);
                    @include font-size(md);
                }
            }
        }

        &[type="range"] {
            -webkit-appearance: none;
            border: 0;
            height: 2rem;
            @include shadow(none);
            @include p(none);

            &::-webkit-slider-runnable-track {
                cursor: pointer;
                width: 100%;
                height: 0.75rem;
                background: color-value(primary);
                @include br(sm);
                @include shadow(xs);
                @include b($color: dark);
            }

            &::-webkit-slider-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                -webkit-appearance: none;
                @include br(xl);
                @include mt(-sm);
                @include shadow(sm);
                @include b($color: dark);
            }

            &::-moz-range-track {
                cursor: pointer;
                width: 100%;
                height: 0.75rem;
                background: color-value(primary);
                @include br(sm);
                @include shadow(xs);
                @include b($color: dark);
            }

            &::-moz-range-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                @include br(xl);
                @include shadow(sm);
                @include b($color: dark);
            }

            &::-ms-track {
                cursor: pointer;
                width: 100%;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            &::-ms-fill-lower {
                background: color(primary);
                @include br(xl);
                @include b($color: dark);
                @include shadow(xs);
            }

            &::-ms-fill-upper {
                background: color(primary);
                @include br(xl);
                @include b($color: dark);
                @include shadow(xs);
            }

            &::-ms-thumb {
                cursor: pointer;
                height: 1.5rem;
                width: 1.5rem;
                background: white;
                @include br(xl);
                @include mt(xxxs);
                @include shadow(sm);
                @include b($color: dark);
            }

            &:focus {
                &::-webkit-slider-runnable-track {
                    background: color-value(primary);
                }

                &::-ms-fill-lower {
                    background: color-value(primary);
                }

                &::-ms-fill-upper {
                    background: color-value(primary);
                }
            }
        }

        &:disabled {
            cursor: not-allowed;
            @include bg-color(light, lighter);
            @include color(dark, 0.5);
            @include shadow(none);
        }

        &::placeholder {
            opacity: 0.7;
            font-style: italic;
            @include color(dark, lighter);
        }

        &[aria-invalid="true"] {
            @include b($size: xxs, $color: danger);
        }

        &.display-icon-left {
            padding-left: 2.25rem;
        }
    
        &.display-icon-right {
            padding-right: 2.25rem;
        }    
    }

    .input-icon {
        @include p(xxs);
        @include color(light, darker);
    }

    .icon-left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-15%);
        @include ml(sm);
        @include font-size(md);
    }

    .icon-right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-15%);
        @include mr(sm);
        @include font-size(md);

        .input-button {
            .icon {
                @include color(dark, lighter)
            }
        }    
    }

    .select-wrapper {
        display: flex;
        align-items: center;
        width: 100%;

        select {
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            @include br(sm);
        }

        .select-icon {
            pointer-events: none;
            @include ml(-xxxl);
        }
    }
}