@import '../variables';
@import 'strings';

@function spacing($name, $important: false) {
    $prefix: "";

    // This enables negative values to be used.
    @if(str-contains($name, "-")) {
        $prefix: "-";
        $name: str-replace($name, "-", "");
    }

    @if map-has-key($spacing-sizes, $name) {
        @if($important==true) {
            @return unquote($prefix + map-get($spacing-sizes, $name)) !important;
        } @else {
            @return unquote($prefix + map-get($spacing-sizes, $name));
        }
    } @else {
        @error "Invalid spacing size: '#{$name}'.";
    }
}
