@function str-replace($string, $search, $replace: '') {
        $index: str-index($string, $search);
    
        @if $index {
            @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
        }
    
        @return $string;
    }
    
    @function str-ends-with($string, $search) {
        @return str-slice(quote($string), (str-length($string) - str-length($search) + 1)) == $search;
    }
    
    @function str-contains($string, $search) {
        @return str-index(quote($string), $search) != null;
    }
    