@import "../../../../scss/00_Abstracts/index";

ks-checklist {
    display: inline-block;

    fieldset {
        display: inline-flex;
        flex-direction: column;

        legend {
            display: inline-flex;
            flex-direction: column;    
            font-weight: bold;
            @include mb(none);

            ks-tooltip {
                @include ml(xs);
            }

            .help-text {
                font-weight: normal;
                font-size: var(--help-text-size);
                @include color(dark, light);
            }    
        }
    }
}
