@import "../00_Abstracts/index";

$columns: 12;
$gutter-size: lg;

.row {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    @include mx(-$gutter-size);

    &.no-gutter {
        @include mx(none);

        >.col {
            @include px(none);
        }
    }

    &.reverse {
        flex-direction: row-reverse;
    }

    &.stacked {
        flex-direction: column;

        &.reverse {
            flex-direction: column-reverse;
        }
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.stretch {
        align-items: stretch;
    }

    &.justify {
        &-start {
            justify-content: flex-start;
        }

        &-end {
            justify-content: flex-end;
        }

        &-center {
            justify-content: center;
        }

        &-space-around {
            justify-content: space-around;
        }

        &-space-between {
            justify-content: space-between;
        }

        &-space-evenly {
            justify-content: space-evenly;
        }
    }

    &.align {
        &-start {
            align-items: flex-start;
        }

        &-center {
            align-items: center;
        }

        &-end {
            align-items: flex-end;
        }
    }

    .col {
        display: flex;
        position: relative;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
        @include py(md);
        @include px($gutter-size);

        @for $i from 1 through $columns {
            &.col-#{$i} {
                max-width: (100% / $columns) * $i;
                flex: 0 0 (100% / $columns) * $i;
            }

            @each $key,
            $value in $breakpoints {
                @include breakpoint-below($key) {
                    &.#{$key}\:col-#{$i} {
                        max-width: (100% / $columns) * $i;
                        flex: 0 0 (100% / $columns) * $i;
                    }
                }
            }
        }

        &.align {
            &-start {
                align-self: flex-start;
            }

            &-center {
                align-self: center;
            }

            &-end {
                align-self: flex-end;
            }
        }
    }
}
