@import "../../../scss/00_Abstracts/index";

.ks-card {
    position: relative;
    overflow: hidden;
    @include br(sm);
    @include b($color: light, $variant: dark);
    @include shadow();

    &.img-top {
        display: flex;
        flex-direction: column;

        .card-img {
            flex-shrink: 0;
        }    
    }

    &.img-bottom {
        display: flex;
        flex-direction: column-reverse;

        .card-img {
            flex-shrink: 0;
        }    
    }

    &.img-left {
        display: flex;
    }

    &.img-right {
        display: flex;
        flex-direction: row-reverse;
    }

    &.img-behind {
        display: flex;
        flex-direction: column;

        .card-content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            .card-body {
                .body-header {
                    .heading,
                    .subheading {
                        color: white;
                        text-shadow: 2px 2px 4px color-value(dark);
                    }
                }

                .body-text {
                    color: white;
                    text-shadow: 2px 2px 4px color-value(dark);
                }
            }
        }
    }

    &.collapse {

        @each $key,
        $value in $media-queries {
            &-#{$key} {
                @include mq($key) {
                    flex-direction: column;
                }
            }
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        @include p(md);

        .card-body {
            display: block;

            .body-header {
                .heading {
                    @include font-size(lg);
                    @include mb(none);
                }

                .subheading {
                    color: color(dark, lighter);
                    @include mb(xs);
                }
            }

            .body-text {
                color: color(dark);
            }
        }

        .card-footer {
            display: block;
            @include mt(md);
        }
    }
}
