@import "../../../scss/00_Abstracts/index";

.ks-accordion {
    display: block;

    .accordion-slide {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include mt(-xxs);

        &:first-child {
            @include mt(none);

            .accordion-heading {
                @include br-t(sm);
            }
        }

        &:last-child {
            .accordion-heading {
                @include br-b(sm);

                &[aria-expanded="false"] {
                    transition-delay: 0.5s;
                    transition-property: border-radius;
                }

                &[aria-expanded="true"] {
                    @include br-b(none);

                    &+.accordion-content {
                        @include br-b(sm);
                    }
                }
            }
        }

        .accordion-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-weight: bold;
            background-color: white;
            @include color(primary);
            @include font-size(sm);
            @include b();
            @include px(lg);
            @include mb(-xxs);

            .accordion-icon {
                line-height: 1;
                @include color(primary);
                @include font-size(md);
                @include transition();
            }

            &:focus {
                @include default-outline();
            }

            &[aria-expanded="true"] {
                .accordion-icon {
                    transform: rotate(-180deg);
                    @include transition();
                }
            }
        }

        .accordion-content {
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            @include transition();
            @include px(lg);
            @include b-x();
            @include b-b();

            &[aria-hidden="false"] {
                visibility: visible;
                @include py(lg);
            }
        }
    }

    &.sm {
        .accordion-slide {
            .accordion-heading {
                @include py(sm);
            }
        }
    }

    &.md {
        .accordion-slide {
            .accordion-heading {
                @include py(md);
            }
        }
    }

    &.lg {
        .accordion-slide {
            .accordion-heading {
                @include py(lg);
            }
        }
    }
}
