@import "../../../scss/00_Abstracts/index";

ks-form {
    --border-radius: var(--ks-border-radius-sm);
    --border-color: var(--ks-color-light-base);
    --padding: var(--ks-spacing-lg);
    --background-color: var(--ks-color-light-lighter);
    --content-spacing: var(--ks-spacing-lg);

    display: block;
    border-radius: var(--border-radius);
    padding: var(--padding);
    background-color: rgb(var(--background-color));
    @include b();
    border-color: rgb(var(--border-color));

    .form {
        &.inline-form {
            display: flex;
            align-items: flex-end;

            ks-form-field {
                width: 100%;
                @include m(none);

                .form-input {
                    @include rr(none);
                    @include br(none);
                }
            }
            
            ks-button {
                .button {
                    @include rl(none);
                }
            }

            .form-error {
                display: none;
            }
        }
        
        > {
            *:not(:last-child) {
                margin-bottom: var(--content-spacing);
            }

            :last-child {
                margin-top: var(--content-spacing);
            }

            :nth-last-child(2) {
                @include mb(none);
            }
        }

        .form-error {
            .alert-body {
                display: flex;
                align-items: center;
                @include color(dark);

                .error-message {
                    line-height: 1.1;
                }
            }
        }
    }
}
