@import "../../../scss/00_Abstracts/index";

.ks-form-wrapper {
    display: block;
    @include radius(sm);
    @include border(solid, xxs, light);
    @include p(lg);
    @include bg-color(light, lighter);

    .form {
        > {
            *:not(:last-child) {
                @include mb(lg);
            }

            :last-child {
                @include mt(lg);
            }

            :nth-last-child(2) {
                @include mb(none);
            }
        }

        .form-error {
            .alert-body {
                display: flex;
                align-items: center;
                @include color(dark);
            }
        }
    }
}
