@import "../../../scss/00_Abstracts/index";

.ks-form {
    display: block;
    @include br(sm);
    @include b($color: light);
    @include p(lg);
    @include bg-color(light, lighter);

    .form {
        &.inline-form {
            display: flex;
            align-items: flex-end;

            .ks-form-field {
                width: 100%;
                @include m(none);

                .form-input {
                    @include br-r(none);
                    @include b-r(none);
                }
            }
            
            .ks-button {
                .button {
                    @include br-l(none);
                }
            }

            .form-error {
                display: none;
            }
        }
        
        > {
            *:not(:last-child) {
                @include mb(lg);
            }

            :last-child {
                @include mt(lg);
            }

            :nth-last-child(2) {
                @include mb(none);
            }
        }

        .form-error {
            .alert-body {
                display: flex;
                align-items: center;
                @include color(dark);

                .error-message {
                    line-height: 1.1;
                }
            }
        }
    }
}
