@import "../../../scss/00_Abstracts/index";

ks-breadcrumbs {
    display: block;
}

.ks-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    @include px(lg);
    @include py(md);
    @include mb(lg);

    .breadcrumb {
        .link {
            font-weight: bold;
            text-decoration: none;
            @include font-size(sm);

            &:hover {
                text-decoration: underline;
            }

            &[aria-current="page"] {
                color: color(black);
                @include font-size(sm);
            }
        }
    }

    .breadcrumb+.breadcrumb {
        @include pl(sm);

        &::before {
            display: inline-block;
            content: "/";
            @include pr(sm);
        }
    }
}
