@import "../../../scss/00_Abstracts/index";

.ks-breadcrumbs {
    display: block;

    .links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        @include p(none);

        .breadcrumb {
            .link {
                font-weight: bold;
                text-decoration: none;
                @include font-size(sm);

                &:hover {
                    text-decoration: underline;
                }

                &[aria-current="page"] {
                    @include color(dark);
                    @include font-size(sm);
                }
            }
        }

        .breadcrumb+.breadcrumb {
            @include pl(sm);

            &::before {
                display: inline-block;
                content: "/";
                @include pr(sm);
            }
        }
    }
}
