@use "sass:math";
@use "../../../scss/00_Abstracts/variables" as *;

.ks-responsive-embed {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    @each $x, $y in $responsive-embed-aspect-ratios {
        &.ratio-#{$x}x#{$y} {
            padding-top: #{(math.div($y, $x) * 100) + "%"};
        }
    }

    embed,
    iframe,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
