//   FONTS
    
$font-accent: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base: 16px;
$font-sizes: (
    xxs: 0.75rem,
    xs: 0.875rem,
    sm: 1rem,
    md: 1.25rem,
    lg: 1.5rem,
    xl: 2rem,
    xxl: 3rem
) !default;

$line-height-base: 1.5;

// SPACING

$spacing-sizes: ( 
    auto: auto, 
    none: 0, 
    xxxs: 0.0625rem, // 1px
    xxs: 0.125rem,   // 2px
    xs: 0.25rem,     // 4px
    sm: 0.5rem,      // 8px
    md: 0.75rem,     // 12px
    lg: 1rem,        // 16px
    xl: 1.25rem,     // 20px
    xxl: 1.5rem,     // 24px
    xxxl: 2rem       // 32px
) !default;


// COLORS

$theme-colors: (
    'primary': #003e7e,
    'secondary': #7ac141,
    'success': #669c1f, 
    'info': #509BCE, 
    'warning': #e1a900, 
    'danger': #c70000, 
    'light': #e5e5e5, 
    'dark': #494949 
) !default;

$color-variation: 8%;


// BREAKPOINTS

$media-queries: ( 
    xxs: 20rem, // 320px
    xs: 30rem,  // 480px
    sm: 48rem,  // 768px
    md: 62rem,  // 992px
    lg: 75rem,  // 1200px
    xl: 90rem,   // 1440px
    light-mode: light,
    dark-mode: dark,
    print: print
) !default;


// Z-INDEX

$z-indexes: (
    sub: -1,
    none: 0,
    xxs: 1,
    xs: 10,
    sm: 50,
    md: 100,
    lg: 200,
    xl: 500,
    trump: 99999
) !default;


// BORDERS

$border-style: solid !default;
$border-size: xxxs !default; // 1px
$border-color: light, darker !default;

$border-radiuses: (
    none: 0,
    sm: 0.25rem,  // 4px
    md: 0.5rem,   // 8px
    lg: 0.75rem,  // 12px
    pill: 10rem,  // 160px
    circle: 50%
) !default;

//  SHADOWS

$shadows: (
    none: none,
    inner: "inset 0 2px 2px rgba(0, 0, 0, 0.10), 0 2px 0 rgba(255, 255, 255, 0.15)",
    outline: "0 0 0 3px rgba(0, 0, 0, 0.5)",
    xs: "0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)",
    sm: "0 3px 5px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12)",
    md: "0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10)",
    lg: "0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05)",
    xl: "0 20px 40px rgba(0, 0, 0, 0.20)"
) !default;

//  TRANSITIONS

$transitions: (
    xslow: 2s,
    slow: 1s,
    med: .5s,
    fast: .3s,
    xfast: .1s
) !default;
